In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Train.csv")

In [ ]:
df.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [ ]:
df.reset_index(drop=True)

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
5,EID_2278,M,54.0,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.8176,1.8688,2.0,2,8,3,0.7613
6,EID_18588,F,21.0,4,Married,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.9612,0.7075,2.0,3,7,3,0.2819
7,EID_1235,F,NaN,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
8,EID_10197,M,40.0,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,NaN,1.8688,2.0,5,6,3,0.1968
9,EID_21262,M,45.0,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.2870
10,EID_9153,F,65.0,5,Single,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.7516,-0.4537,3.0,4,6,3,0.2735
11,EID_19087,F,19.0,5,Single,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.8176,-0.4537,2.0,3,6,3,0.0800
12,EID_4825,M,63.0,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.1048,-0.4537,2.0,5,6,3,0.2109
13,EID_17644,F,23.0,4,Single,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.1048,-1.6150,2.0,4,8,3,0.1696
14,EID_20902,F,19.0,3,Married,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.9612,1.8688,2.0,4,6,3,0.0318
15,EID_20121,F,NaN,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
16,EID_5504,M,65.0,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.1048,0.7075,1.0,3,5,3,0.0671
17,EID_8049,F,40.0,4,Married,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.9612,-0.4537,2.0,5,8,4,0.1468
18,EID_14638,M,33.0,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.8176,0.7075,2.0,3,8,3,0.0560
19,EID_12947,M,32.0,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,NaN,0.7075,1.0,1,5,4,0.6410
20,EID_20029,F,22.0,4,Married,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1095
21,EID_23546,F,25.0,3,Married,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.7516,0.7075,3.0,3,8,4,0.0462
22,EID_3722,M,65.0,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,NaN,0.7075,1.0,3,6,3,0.1708
23,EID_23853,F,31.0,4,Married,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.1048,0.7075,2.0,3,5,3,0.2704
24,EID_16808,F,24.0,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.9612,-0.4537,NaN,3,8,5,0.1742
25,EID_3901,F,NaN,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
26,EID_4861,F,47.0,4,Single,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.7516,0.7075,2.0,3,5,2,0.2269
27,EID_12981,M,28.0,3,Single,Lebanon,Sales,Conceptual,NaN,1,58,0,4,8.0,type2,1.0,3,0.7516,0.7075,2.0,3,8,3,0.6272
28,EID_7596,F,45.0,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.9612,-0.4537,NaN,1,7,5,0.0326
29,EID_14066,F,34.0,3,Married,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.8176,-0.4537,2.0,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,M,58.0,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.9612,0.7075,2.0,3,8,3,0.1194
6971,EID_21048,F,30.0,4,Single,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.9612,-0.4537,2.0,4,6,2,0.0133
6972,EID_10571,M,35.0,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.1048,0.7075,2.0,3,8,3,0.0176
6973,EID_15639,F,26.0,3,Single,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.1048,-1.6150,2.0,3,7,3,0.0569
6974,EID_10143,M,40.0,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.1048,-0.4537,2.0,3,6,2,0.0313
6975,EID_2706,F,52.0,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,NaN,0.7075,NaN,3,7,3,0.1496
6976,EID_15099,M,28.0,4,Married,Franklin,Operarions,Conceptual,NaN,3,37,1,2,9.0,type3,4.0,3,NaN,-0.4537,2.0,2,7,3,0.2237
6977,EID_24726,F,31.0,5,Married,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.7516,0.7075,2.0,3,5,4,0.1458
6978,EID_25859,F,54.0,4,Married,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.9612,-0.4537,1.0,4,8,4,0.1221
6979,EID_7509,M,42.0,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.9612,0.7075,1.0,4,7,3,0.4429
6980,EID_8706,M,59.0,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.9612,-0.4537,2.0,2,6,3,0.2853
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6982,EID_12091,F,40.0,3,Single,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.7516,-0.4537,2.0,3,8,3,0.2978
6983,EID_23816,F,30.0,3,Married,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.9612,-0.4537,2.0,3,7,3,0.0402
6984,EID_22574,F,47.0,3,Married,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.7516,0.7075,2.0,4,6,3,0.0765
6985,EID_4484,M,65.0,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.7516,0.7075,2.0,2,8,3,0.5049
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041
6987,EID_21257,F,45.0,1,Single,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.9612,1.8688,2.0,3,6,3,0.1218
6988,EID_11083,F,38.0,3,Married,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.7516,-1.6150,2.0,4,8,3,0.0884
6989,EID_20243,F,28.0,1,Married,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.9612,-2.7762,3.0,3,5,3,0.2541
6990,EID_20545,M,22.0,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.6081,0.7075,3.0,2,8,2,0.2523
6991,EID_17275,M,26.0,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.7516,0.7075,2.0,4,6,3,0.2265
6992,EID_19922,F,26.0,1,Married,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.1048,0.7075,2.0,3,8,3,0.2238
6993,EID_12529,M,33.0,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,4,7,3,0.2569
6994,EID_11159,M,33.0,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.1048,1.8688,2.0,4,7,2,0.0480
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  7000 non-null object
Gender                       7000 non-null object
Age                          6588 non-null float64
Education_Level              7000 non-null int64
Relationship_Status          7000 non-null object
Hometown                     7000 non-null object
Unit                         7000 non-null object
Decision_skill_possess       7000 non-null object
Time_of_service              6856 non-null float64
Time_since_promotion         7000 non-null int64
growth_rate                  7000 non-null int64
Travel_Rate                  7000 non-null int64
Post_Level                   7000 non-null int64
Pay_Scale                    6991 non-null float64
Compensation_and_Benefits    7000 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         7000 non-null int64
VAR2                         6423 non-null float64
VAR3                         7000 non-null float64
VAR4                         6344 non-null float64
VAR5                         7000 non-null int64
VAR6                         7000 non-null int64
VAR7                         7000 non-null int64
Attrition_rate               7000 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
df.describe()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,7000.000000,6856.000000,7000.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,3.187857,13.385064,2.367143,47.064286,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,1.065102,10.364188,1.149395,15.761406,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [ ]:
df['Gender'].value_counts()

F    4114
M    2886
Name: Gender, dtype: int64

In [ ]:
df.groupby('Gender').mean()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
Gender,,,,,,,,,,,,,,,,,
F,39.601442,3.194215,13.389965,2.386728,47.218279,0.814293,2.794361,6.014835,2.391378,3.102090,-0.010169,-0.013382,1.892522,2.822071,7.091638,3.254740,0.184936
M,39.653476,3.178794,13.378092,2.339224,46.844768,0.822938,2.803188,5.994095,2.382934,3.093555,-0.005249,-0.013927,1.889016,2.851351,7.115038,3.260222,0.195706

In [ ]:
df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
5,EID_2278,M,54.0,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.8176,1.8688,2.0,2,8,3,0.7613
6,EID_18588,F,21.0,4,Married,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.9612,0.7075,2.0,3,7,3,0.2819
7,EID_1235,F,NaN,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
8,EID_10197,M,40.0,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,NaN,1.8688,2.0,5,6,3,0.1968
9,EID_21262,M,45.0,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.2870
10,EID_9153,F,65.0,5,Single,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.7516,-0.4537,3.0,4,6,3,0.2735
11,EID_19087,F,19.0,5,Single,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.8176,-0.4537,2.0,3,6,3,0.0800
12,EID_4825,M,63.0,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.1048,-0.4537,2.0,5,6,3,0.2109
13,EID_17644,F,23.0,4,Single,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.1048,-1.6150,2.0,4,8,3,0.1696
14,EID_20902,F,19.0,3,Married,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.9612,1.8688,2.0,4,6,3,0.0318
15,EID_20121,F,NaN,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
16,EID_5504,M,65.0,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.1048,0.7075,1.0,3,5,3,0.0671
17,EID_8049,F,40.0,4,Married,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.9612,-0.4537,2.0,5,8,4,0.1468
18,EID_14638,M,33.0,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.8176,0.7075,2.0,3,8,3,0.0560
19,EID_12947,M,32.0,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,NaN,0.7075,1.0,1,5,4,0.6410
20,EID_20029,F,22.0,4,Married,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1095
21,EID_23546,F,25.0,3,Married,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.7516,0.7075,3.0,3,8,4,0.0462
22,EID_3722,M,65.0,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,NaN,0.7075,1.0,3,6,3,0.1708
23,EID_23853,F,31.0,4,Married,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.1048,0.7075,2.0,3,5,3,0.2704
24,EID_16808,F,24.0,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.9612,-0.4537,NaN,3,8,5,0.1742
25,EID_3901,F,NaN,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
26,EID_4861,F,47.0,4,Single,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.7516,0.7075,2.0,3,5,2,0.2269
27,EID_12981,M,28.0,3,Single,Lebanon,Sales,Conceptual,NaN,1,58,0,4,8.0,type2,1.0,3,0.7516,0.7075,2.0,3,8,3,0.6272
28,EID_7596,F,45.0,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.9612,-0.4537,NaN,1,7,5,0.0326
29,EID_14066,F,34.0,3,Married,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.8176,-0.4537,2.0,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,M,58.0,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.9612,0.7075,2.0,3,8,3,0.1194
6971,EID_21048,F,30.0,4,Single,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.9612,-0.4537,2.0,4,6,2,0.0133
6972,EID_10571,M,35.0,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.1048,0.7075,2.0,3,8,3,0.0176
6973,EID_15639,F,26.0,3,Single,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.1048,-1.6150,2.0,3,7,3,0.0569
6974,EID_10143,M,40.0,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.1048,-0.4537,2.0,3,6,2,0.0313
6975,EID_2706,F,52.0,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,NaN,0.7075,NaN,3,7,3,0.1496
6976,EID_15099,M,28.0,4,Married,Franklin,Operarions,Conceptual,NaN,3,37,1,2,9.0,type3,4.0,3,NaN,-0.4537,2.0,2,7,3,0.2237
6977,EID_24726,F,31.0,5,Married,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.7516,0.7075,2.0,3,5,4,0.1458
6978,EID_25859,F,54.0,4,Married,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.9612,-0.4537,1.0,4,8,4,0.1221
6979,EID_7509,M,42.0,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.9612,0.7075,1.0,4,7,3,0.4429
6980,EID_8706,M,59.0,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.9612,-0.4537,2.0,2,6,3,0.2853
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6982,EID_12091,F,40.0,3,Single,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.7516,-0.4537,2.0,3,8,3,0.2978
6983,EID_23816,F,30.0,3,Married,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.9612,-0.4537,2.0,3,7,3,0.0402
6984,EID_22574,F,47.0,3,Married,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.7516,0.7075,2.0,4,6,3,0.0765
6985,EID_4484,M,65.0,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.7516,0.7075,2.0,2,8,3,0.5049
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041
6987,EID_21257,F,45.0,1,Single,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.9612,1.8688,2.0,3,6,3,0.1218
6988,EID_11083,F,38.0,3,Married,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.7516,-1.6150,2.0,4,8,3,0.0884
6989,EID_20243,F,28.0,1,Married,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.9612,-2.7762,3.0,3,5,3,0.2541
6990,EID_20545,M,22.0,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.6081,0.7075,3.0,2,8,2,0.2523
6991,EID_17275,M,26.0,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.7516,0.7075,2.0,4,6,3,0.2265
6992,EID_19922,F,26.0,1,Married,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.1048,0.7075,2.0,3,8,3,0.2238
6993,EID_12529,M,33.0,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,4,7,3,0.2569
6994,EID_11159,M,33.0,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.1048,1.8688,2.0,4,7,2,0.0480
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
df['Relationship_Status'].unique()

array(['Married', 'Single'], dtype=object)

In [ ]:
df['Hometown'].unique()

array(['Franklin', 'Springfield', 'Clinton', 'Lebanon', 'Washington'],
      dtype=object)

In [ ]:
df['Unit'].unique()

array(['IT', 'Logistics', 'Quality', 'Human Resource Management',
       'Purchasing', 'Sales', 'Production', 'Operarions',
       'Accounting and Finance', 'Marketing', 'R&D', 'Security'],
      dtype=object)

In [ ]:
df['Decision_skill_possess'].unique()

array(['Conceptual', 'Analytical', 'Behavioral', 'Directive'],
      dtype=object)

In [ ]:
df['Compensation_and_Benefits'].unique()

array(['type2', 'type3', 'type0', 'type4', 'type1'], dtype=object)

In [ ]:
df.loc[df['Age'].isna()]

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
7,EID_1235,F,NaN,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
15,EID_20121,F,NaN,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
25,EID_3901,F,NaN,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
40,EID_17527,F,NaN,2,Married,Springfield,IT,Conceptual,4.0,1,72,2,5,6.0,type3,2.0,3,-1.8176,0.7075,2.0,5,6,2,0.0618
43,EID_1433,M,NaN,3,Married,Springfield,Logistics,Conceptual,19.0,3,51,1,2,4.0,type2,2.0,5,0.7516,1.8688,2.0,3,8,3,0.1571
54,EID_1297,M,NaN,4,Married,Springfield,IT,Directive,24.0,4,52,0,2,5.0,type3,3.0,3,-1.8176,-0.4537,1.0,3,9,4,0.0449
97,EID_22742,F,NaN,4,Married,Lebanon,Human Resource Management,Analytical,19.0,4,27,1,3,5.0,type2,4.0,4,-1.8176,-0.4537,3.0,2,5,3,0.0163
101,EID_13859,M,NaN,4,Married,Lebanon,Operarions,Behavioral,3.0,2,36,0,3,5.0,type2,2.0,4,0.7516,0.7075,3.0,3,5,3,0.1309
116,EID_17036,M,NaN,2,Married,Franklin,Operarions,Directive,5.0,3,47,0,1,6.0,type4,1.0,3,-0.1048,0.7075,NaN,4,6,3,0.2365
144,EID_25188,F,NaN,3,Single,Springfield,R&D,Analytical,18.0,4,69,1,3,4.0,type2,1.0,4,-0.9612,-0.4537,2.0,2,7,2,0.0211
151,EID_5324,M,NaN,2,Married,Franklin,Operarions,Directive,18.0,3,31,2,3,6.0,type3,1.0,1,-0.1048,-0.4537,2.0,3,7,2,0.7402
175,EID_6451,M,NaN,2,Single,Franklin,IT,Analytical,26.0,4,70,1,2,7.0,type2,1.0,3,NaN,-0.4537,2.0,3,8,5,0.2345
178,EID_22342,M,NaN,1,Married,Lebanon,IT,Behavioral,0.0,0,20,1,3,4.0,type2,4.0,3,-1.8176,-0.4537,2.0,4,8,2,0.2276
210,EID_9057,F,NaN,5,Single,Washington,Accounting and Finance,Directive,15.0,2,30,1,3,8.0,type3,1.0,5,NaN,0.7075,2.0,3,8,1,0.1583
225,EID_10313,M,NaN,2,Married,Lebanon,Purchasing,Conceptual,13.0,1,36,0,3,7.0,type3,1.0,3,1.6081,0.7075,1.0,2,8,3,0.0559
262,EID_8839,M,NaN,3,Married,Springfield,Accounting and Finance,Behavioral,24.0,1,34,0,4,8.0,type2,3.0,5,0.7516,-0.4537,2.0,5,8,5,0.1514
271,EID_14814,F,NaN,3,Married,Franklin,Sales,Behavioral,6.0,2,29,1,3,4.0,type2,2.0,4,-0.1048,-0.4537,1.0,1,7,3,0.0746
276,EID_16693,M,NaN,4,Single,Franklin,Logistics,Analytical,4.0,3,74,1,3,8.0,type2,1.0,3,0.7516,-0.4537,1.0,2,8,3,0.0490
283,EID_15544,F,NaN,4,Married,Washington,Sales,Conceptual,8.0,3,58,2,3,6.0,type3,3.0,4,-0.1048,0.7075,2.0,4,6,2,0.3228
303,EID_18271,F,NaN,4,Single,Washington,Logistics,Behavioral,3.0,3,69,2,3,6.0,type2,1.0,3,-1.8176,0.7075,2.0,3,8,4,0.1543
330,EID_15933,F,NaN,2,Married,Lebanon,Operarions,Conceptual,7.0,4,60,1,3,2.0,type3,1.0,3,-0.1048,0.7075,NaN,1,5,4,0.1813
358,EID_8781,M,NaN,1,Single,Lebanon,Logistics,Behavioral,12.0,2,52,0,2,5.0,type2,2.0,3,-0.9612,-0.4537,3.0,4,6,3,0.7447
375,EID_22833,F,NaN,1,Married,Franklin,IT,Behavioral,8.0,4,56,2,2,7.0,type3,3.0,3,-0.9612,-0.4537,NaN,1,8,1,0.1873
422,EID_3547,F,NaN,3,Single,Franklin,Logistics,Behavioral,25.0,3,62,1,4,6.0,type2,1.0,4,-1.8176,-1.6150,1.0,1,8,5,0.6831
449,EID_10045,M,NaN,3,Married,Franklin,Marketing,Behavioral,10.0,3,73,1,1,8.0,type2,3.0,2,-0.9612,0.7075,1.0,2,7,4,0.0312
452,EID_3788,M,NaN,1,Single,Franklin,Accounting and Finance,Conceptual,33.0,2,68,0,1,6.0,type2,2.0,3,1.6081,0.7075,2.0,3,8,3,0.1896
455,EID_12546,M,NaN,1,Married,Springfield,Security,Analytical,11.0,4,49,0,4,1.0,type3,1.0,3,-0.1048,-1.6150,2.0,2,8,3,0.0318
470,EID_18664,M,NaN,4,Married,Franklin,IT,Conceptual,1.0,1,47,1,2,8.0,type2,3.0,3,NaN,-0.4537,2.0,1,6,5,0.0152
472,EID_2489,M,NaN,2,Married,Lebanon,Purchasing,Analytical,26.0,2,50,2,1,7.0,type3,1.0,3,0.7516,-1.6150,2.0,2,8,3,0.1173
490,EID_9418,M,NaN,3,Married,Franklin,Logistics,Conceptual,10.0,4,27,0,2,8.0,type4,3.0,3,0.7516,-0.4537,3.0,4,7,5,0.2200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6407,EID_11418,M,NaN,5,Married,Springfield,IT,Behavioral,11.0,3,40,0,3,5.0,type2,1.0,2,-0.1048,-1.6150,2.0,4,7,3,0.0456
6429,EID_1439,F,NaN,3,Married,Franklin,Accounting and Finance,Analytical,23.0,1,48,1,3,10.0,type3,2.0,2,-1.8176,-0.4537,1.0,4,6,3,0.0117
6457,EID_10665,F,NaN,3,Married,Springfield,IT,Directive,10.0,1,25,0,3,5.0,type4,1.0,3,0.7516,-0.4537,2.0,4,8,3,0.0049
6478,EID_21293,F,NaN,3,Married,Franklin,IT,Analytical,7.0,4,35,2,5,6.0,type2,3.0,3,-1.8176,-0.4537,2.0,3,7,3,0.1124
6479,EID_18310,F,NaN,4,Married,Franklin,Operarions,Analytical,2.0,2,50,0,3,5.0,type2,1.0,3,-0.9612,0.7075,3.0,2,6,1,0.0195
6489,EID_15607,F,NaN,3,Single,Springfield,Logistics,Analytical,6.0,4,60,0,4,4.0,type3,2.0,3,0.7516,-0.4537,1.0,1,8,3,0.0954
6520,EID_21593,F,NaN,5,Married,Clinton,Logistics,Directive,17.0,4,66,0,3,9.0,type3,1.0,3,0.7516,0.7075,2.0,3,7,3,0.0094
6583,EID_16860,F,NaN,4,Married,Washington,Logistics,Conceptual,3.0,3,20,1,3,6.0,type2,4.0,2,-0.1048,1.8688,2.0,3,8,5,0.0959
6621,EID_7400,F,NaN,2,Single,Lebanon,R&D,Analytical,12.0,4,59,0,1,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1262
6627,EID_6951,M,NaN,3,Married,Springfield,Operarions,Behavioral,38.0,4,68,2,1,6.0,type2,3.0,4,NaN,0.7075,2.0,4,8,3,0.4273
6631,EID_14440,F,NaN,2,Married,Franklin,Production,Behavioral,7.0,3,24,1,3,4.0,type3,2.0,1,-0.1048,-1.6150,1.0,3,6,2,0.2115
6666,EID_23116,F,NaN,3,Married,Washington,Human Resource Management,Analytical,11.0,4,74,1,2,7.0,type2,1.0,4,-1.8176,1.8688,2.0,2,8,3,0.1607
6667,EID_11031,M,NaN,5,Married,Springfield,Sales,Behavioral,10.0,1,49,1,3,4.0,type2,1.0,3,0.7516,-0.4537,2.0,4,5,3,0.0267
6680,EID_6542,M,NaN,2,Married,Clinton,Logistics,Analytical,10.0,3,20,1,1,1.0,type2,3.0,3,NaN,-1.6150,NaN,2,7,2,0.1236
6706,EID_3237,M,NaN,4,Single,Springfield,Sales,Directive,24.0,2,62,1,2,2.0,type3,3.0,3,NaN,0.7075,2.0,2,6,2,0.6191
6714,EID_4654,M,NaN,4,Married,Lebanon,IT,Directive,16.0,3,62,1,2,8.0,type3,2.0,3,0.7516,-0.4537,2.0,1,8,3,0.1236
6744,EID_24049,F,NaN,3,Married,Lebanon,IT,Behavioral,0.0,0,52,1,3,4.0,type2,2.0,4,1.6081,-0.4537,2.0,2,9,4,0.0546
6753,EID_3748,F,NaN,3,Married,Lebanon,Logistics,Analytical,NaN,1,42,0,3,6.0,type2,2.0,3,-1.8176,0.7075,NaN,3,8,3,0.6815
6793,EID_3380,F,NaN,1,Married,Lebanon,Human Resource Management,Analytical,16.0,3,27,1,4,6.0,type2,3.0,3,1.6081,-0.4537,2.0,4,8,3,0.1295
6796,EID_18697,F,NaN,3,Married,Washington,IT,Behavioral,0.0,0,71,1,1,5.0,type2,1.0,3,-1.8176,1.8688,2.0,4,6,5,0.6376
6803,EID_5956,F,NaN,4,Married,Franklin,R&D,Analytical,16.0,2,39,2,2,5.0,type4,2.0,2,0.7516,-1.6150,2.0,3,8,4,0.1380
6814,EID_11066,F,NaN,3,Single,Franklin,Accounting and Finance,Conceptual,6.0,1,70,1,2,5.0,type2,2.0,4,-0.1048,-0.4537,2.0,2,8,5,0.0642
6815,EID_4288,F,NaN,3,Single,Clinton,IT,Directive,41.0,2,30,1,2,10.0,type3,2.0,5,0.7516,0.7075,3.0,4,8,4,0.0399
6816,EID_23840,M,NaN,4,Married,Springfield,Operarions,Directive,3.0,3,20,1,3,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,7,2,0.1271
6869,EID_4055,M,NaN,3,Married,Lebanon,Operarions,Conceptual,25.0,3,61,1,3,6.0,type2,2.0,2,-1.8176,-0.4537,2.0,3,5,5,0.7800
6916,EID_16330,F,NaN,4,Single,Franklin,Purchasing,Directive,2.0,2,43,1,5,8.0,type4,3.0,5,0.7516,-0.4537,2.0,3,8,2,0.2779
6945,EID_20301,F,NaN,3,Single,Springfield,Operarions,Conceptual,17.0,1,32,1,2,9.0,type2,2.0,4,-1.8176,-0.4537,2.0,4,8,3,0.1296
6969,EID_18566,F,NaN,1,Single,Washington,R&D,Conceptual,4.0,2,45,0,5,8.0,type3,4.0,3,0.7516,-1.6150,3.0,4,6,3,0.0986
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041

In [ ]:
df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
5,EID_2278,M,54.0,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.8176,1.8688,2.0,2,8,3,0.7613
6,EID_18588,F,21.0,4,Married,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.9612,0.7075,2.0,3,7,3,0.2819
7,EID_1235,F,NaN,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
8,EID_10197,M,40.0,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,NaN,1.8688,2.0,5,6,3,0.1968
9,EID_21262,M,45.0,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.2870
10,EID_9153,F,65.0,5,Single,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.7516,-0.4537,3.0,4,6,3,0.2735
11,EID_19087,F,19.0,5,Single,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.8176,-0.4537,2.0,3,6,3,0.0800
12,EID_4825,M,63.0,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.1048,-0.4537,2.0,5,6,3,0.2109
13,EID_17644,F,23.0,4,Single,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.1048,-1.6150,2.0,4,8,3,0.1696
14,EID_20902,F,19.0,3,Married,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.9612,1.8688,2.0,4,6,3,0.0318
15,EID_20121,F,NaN,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
16,EID_5504,M,65.0,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.1048,0.7075,1.0,3,5,3,0.0671
17,EID_8049,F,40.0,4,Married,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.9612,-0.4537,2.0,5,8,4,0.1468
18,EID_14638,M,33.0,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.8176,0.7075,2.0,3,8,3,0.0560
19,EID_12947,M,32.0,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,NaN,0.7075,1.0,1,5,4,0.6410
20,EID_20029,F,22.0,4,Married,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1095
21,EID_23546,F,25.0,3,Married,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.7516,0.7075,3.0,3,8,4,0.0462
22,EID_3722,M,65.0,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,NaN,0.7075,1.0,3,6,3,0.1708
23,EID_23853,F,31.0,4,Married,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.1048,0.7075,2.0,3,5,3,0.2704
24,EID_16808,F,24.0,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.9612,-0.4537,NaN,3,8,5,0.1742
25,EID_3901,F,NaN,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
26,EID_4861,F,47.0,4,Single,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.7516,0.7075,2.0,3,5,2,0.2269
27,EID_12981,M,28.0,3,Single,Lebanon,Sales,Conceptual,NaN,1,58,0,4,8.0,type2,1.0,3,0.7516,0.7075,2.0,3,8,3,0.6272
28,EID_7596,F,45.0,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.9612,-0.4537,NaN,1,7,5,0.0326
29,EID_14066,F,34.0,3,Married,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.8176,-0.4537,2.0,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,M,58.0,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.9612,0.7075,2.0,3,8,3,0.1194
6971,EID_21048,F,30.0,4,Single,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.9612,-0.4537,2.0,4,6,2,0.0133
6972,EID_10571,M,35.0,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.1048,0.7075,2.0,3,8,3,0.0176
6973,EID_15639,F,26.0,3,Single,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.1048,-1.6150,2.0,3,7,3,0.0569
6974,EID_10143,M,40.0,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.1048,-0.4537,2.0,3,6,2,0.0313
6975,EID_2706,F,52.0,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,NaN,0.7075,NaN,3,7,3,0.1496
6976,EID_15099,M,28.0,4,Married,Franklin,Operarions,Conceptual,NaN,3,37,1,2,9.0,type3,4.0,3,NaN,-0.4537,2.0,2,7,3,0.2237
6977,EID_24726,F,31.0,5,Married,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.7516,0.7075,2.0,3,5,4,0.1458
6978,EID_25859,F,54.0,4,Married,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.9612,-0.4537,1.0,4,8,4,0.1221
6979,EID_7509,M,42.0,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.9612,0.7075,1.0,4,7,3,0.4429
6980,EID_8706,M,59.0,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.9612,-0.4537,2.0,2,6,3,0.2853
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6982,EID_12091,F,40.0,3,Single,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.7516,-0.4537,2.0,3,8,3,0.2978
6983,EID_23816,F,30.0,3,Married,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.9612,-0.4537,2.0,3,7,3,0.0402
6984,EID_22574,F,47.0,3,Married,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.7516,0.7075,2.0,4,6,3,0.0765
6985,EID_4484,M,65.0,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.7516,0.7075,2.0,2,8,3,0.5049
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041
6987,EID_21257,F,45.0,1,Single,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.9612,1.8688,2.0,3,6,3,0.1218
6988,EID_11083,F,38.0,3,Married,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.7516,-1.6150,2.0,4,8,3,0.0884
6989,EID_20243,F,28.0,1,Married,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.9612,-2.7762,3.0,3,5,3,0.2541
6990,EID_20545,M,22.0,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.6081,0.7075,3.0,2,8,2,0.2523
6991,EID_17275,M,26.0,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.7516,0.7075,2.0,4,6,3,0.2265
6992,EID_19922,F,26.0,1,Married,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.1048,0.7075,2.0,3,8,3,0.2238
6993,EID_12529,M,33.0,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,4,7,3,0.2569
6994,EID_11159,M,33.0,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.1048,1.8688,2.0,4,7,2,0.0480
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
male=df.loc[df['Gender']=='M']

In [ ]:
male

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
5,EID_2278,M,54.0,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.8176,1.8688,2.0,2,8,3,0.7613
8,EID_10197,M,40.0,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,NaN,1.8688,2.0,5,6,3,0.1968
9,EID_21262,M,45.0,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.2870
12,EID_4825,M,63.0,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.1048,-0.4537,2.0,5,6,3,0.2109
16,EID_5504,M,65.0,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.1048,0.7075,1.0,3,5,3,0.0671
18,EID_14638,M,33.0,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.8176,0.7075,2.0,3,8,3,0.0560
19,EID_12947,M,32.0,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,NaN,0.7075,1.0,1,5,4,0.6410
22,EID_3722,M,65.0,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,NaN,0.7075,1.0,3,6,3,0.1708
27,EID_12981,M,28.0,3,Single,Lebanon,Sales,Conceptual,NaN,1,58,0,4,8.0,type2,1.0,3,0.7516,0.7075,2.0,3,8,3,0.6272
30,EID_18060,M,24.0,4,Single,Franklin,IT,Analytical,5.0,4,55,0,1,8.0,type2,3.0,4,0.7516,0.7075,2.0,3,5,3,0.0021
31,EID_23729,M,54.0,3,Single,Lebanon,Accounting and Finance,Directive,28.0,1,71,2,3,5.0,type2,3.0,4,-0.1048,-0.4537,NaN,2,8,5,0.0647
37,EID_20859,M,54.0,3,Single,Springfield,Purchasing,Directive,26.0,2,27,2,4,8.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,8,3,0.4617
39,EID_20542,M,30.0,3,Single,Springfield,IT,Directive,7.0,3,33,0,2,6.0,type2,1.0,1,0.7516,0.7075,2.0,4,7,3,0.2656
41,EID_10767,M,43.0,4,Married,Washington,Operarions,Behavioral,12.0,4,50,2,5,5.0,type2,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.1983
42,EID_14404,M,30.0,4,Married,Clinton,IT,Conceptual,6.0,1,46,1,1,6.0,type3,4.0,2,1.6081,0.7075,1.0,4,8,4,0.2744
43,EID_1433,M,NaN,3,Married,Springfield,Logistics,Conceptual,19.0,3,51,1,2,4.0,type2,2.0,5,0.7516,1.8688,2.0,3,8,3,0.1571
46,EID_23163,M,27.0,4,Married,Lebanon,Marketing,Analytical,3.0,3,68,0,4,6.0,type2,4.0,4,-0.1048,-0.4537,1.0,3,8,5,0.2711
49,EID_15197,M,31.0,4,Single,Springfield,Sales,Behavioral,4.0,2,48,0,5,4.0,type2,1.0,1,-0.1048,0.7075,NaN,3,8,3,0.2300
51,EID_3235,M,51.0,3,Single,Springfield,Quality,Directive,27.0,2,63,1,2,6.0,type2,3.0,3,NaN,-1.6150,3.0,4,8,3,0.0460
54,EID_1297,M,NaN,4,Married,Springfield,IT,Directive,24.0,4,52,0,2,5.0,type3,3.0,3,-1.8176,-0.4537,1.0,3,9,4,0.0449
56,EID_1395,M,60.0,3,Married,Lebanon,Sales,Analytical,27.0,3,38,1,3,4.0,type2,1.0,2,0.7516,-0.4537,2.0,1,8,3,0.0068
57,EID_15391,M,24.0,4,Married,Springfield,Quality,Behavioral,NaN,4,22,0,3,6.0,type2,2.0,4,-1.8176,-0.4537,2.0,3,8,5,0.2197
61,EID_14177,M,34.0,2,Married,Lebanon,Security,Conceptual,12.0,2,23,2,1,5.0,type4,1.0,3,NaN,-0.4537,2.0,5,5,3,0.0420
64,EID_9288,M,58.0,4,Married,Springfield,Logistics,Directive,22.0,3,59,0,3,4.0,type2,2.0,3,-0.1048,-0.4537,3.0,2,6,5,0.1291
65,EID_20266,M,28.0,5,Married,Franklin,Sales,Behavioral,5.0,3,71,1,2,5.0,type3,1.0,4,-0.9612,-0.4537,2.0,3,8,3,0.1577
66,EID_22041,M,32.0,5,Married,Franklin,Quality,Conceptual,6.0,4,57,1,4,5.0,type2,3.0,1,-0.9612,0.7075,NaN,2,5,3,0.0645
69,EID_3599,M,51.0,5,Single,Springfield,Logistics,Directive,13.0,4,63,1,2,5.0,type2,4.0,3,-0.9612,-0.4537,1.0,2,7,3,0.4720
76,EID_9223,M,42.0,3,Married,Clinton,Security,Directive,12.0,2,69,1,3,3.0,type2,5.0,3,NaN,0.7075,2.0,3,6,3,0.4098
78,EID_11100,M,42.0,4,Single,Franklin,Operarions,Directive,10.0,3,40,0,5,7.0,type3,1.0,3,-0.1048,1.8688,2.0,3,7,5,0.0890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6922,EID_20458,M,27.0,4,Married,Washington,Logistics,Behavioral,4.0,2,62,1,3,8.0,type3,1.0,2,-0.1048,0.7075,1.0,3,8,1,0.1857
6927,EID_8338,M,49.0,3,Married,Washington,Operarions,Directive,13.0,3,23,1,4,6.0,type2,4.0,3,-0.9612,-2.7762,1.0,4,8,3,0.6958
6929,EID_13324,M,36.0,4,Married,Springfield,Accounting and Finance,Behavioral,13.0,1,48,2,1,5.0,type2,3.0,3,-0.1048,-1.6150,NaN,3,5,3,0.5868
6932,EID_17155,M,27.0,3,Married,Franklin,Security,Analytical,5.0,1,63,1,5,7.0,type2,3.0,3,-0.1048,-0.4537,2.0,2,7,2,0.9735
6938,EID_8558,M,59.0,3,Single,Springfield,Sales,Directive,27.0,2,57,1,2,6.0,type4,1.0,2,0.7516,0.7075,2.0,1,7,4,0.4149
6939,EID_14058,M,29.0,3,Single,Franklin,Human Resource Management,Analytical,7.0,4,55,0,1,6.0,type3,4.0,1,0.7516,-0.4537,2.0,3,7,3,0.2114
6940,EID_2566,M,57.0,3,Married,Springfield,Accounting and Finance,Analytical,28.0,1,74,1,5,9.0,type2,4.0,4,0.7516,0.7075,2.0,3,9,4,0.1382
6941,EID_13329,M,27.0,1,Married,Lebanon,Sales,Analytical,4.0,3,59,2,1,2.0,type2,2.0,3,-0.1048,-0.4537,2.0,3,8,3,0.4958
6943,EID_6742,M,43.0,3,Married,Lebanon,Accounting and Finance,Analytical,11.0,3,36,0,3,2.0,type3,3.0,1,-1.8176,0.7075,2.0,3,8,3,0.1436
6944,EID_21167,M,25.0,2,Married,Springfield,Sales,Behavioral,6.0,1,27,0,3,7.0,type0,1.0,5,0.7516,-2.7762,2.0,3,6,3,0.2330
6947,EID_9155,M,38.0,1,Single,Lebanon,Production,Conceptual,9.0,1,37,1,3,8.0,type2,3.0,2,-0.9612,0.7075,1.0,2,8,3,0.4478
6954,EID_23125,M,47.0,3,Single,Springfield,Logistics,Conceptual,16.0,3,26,2,3,3.0,type2,1.0,3,-0.9612,-0.4537,2.0,5,7,3,0.0295
6959,EID_20930,M,31.0,1,Married,Franklin,Operarions,Conceptual,2.0,2,54,1,2,4.0,type2,1.0,4,0.7516,1.8688,2.0,4,7,4,0.0787
6962,EID_17537,M,21.0,3,Single,Lebanon,Purchasing,Conceptual,2.0,2,53,1,3,7.0,type3,4.0,4,-0.9612,-0.4537,2.0,3,8,5,0.0755
6964,EID_19222,M,19.0,4,Married,Springfield,IT,Behavioral,0.0,0,20,1,4,4.0,type2,1.0,3,-0.9612,-1.6150,3.0,2,6,3,0.1467
6967,EID_5250,M,65.0,4,Single,Lebanon,Logistics,Behavioral,33.0,2,23,0,3,4.0,type2,3.0,3,0.7516,0.7075,2.0,3,7,2,0.0243
6968,EID_2141,M,63.0,5,Married,Franklin,Marketing,Directive,28.0,3,42,1,2,6.0,type2,3.0,4,0.7516,-0.4537,1.0,2,6,3,0.2337
6970,EID_1294,M,58.0,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.9612,0.7075,2.0,3,8,3,0.1194
6972,EID_10571,M,35.0,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.1048,0.7075,2.0,3,8,3,0.0176
6974,EID_10143,M,40.0,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.1048,-0.4537,2.0,3,6,2,0.0313
6976,EID_15099,M,28.0,4,Married,Franklin,Operarions,Conceptual,NaN,3,37,1,2,9.0,type3,4.0,3,NaN,-0.4537,2.0,2,7,3,0.2237
6979,EID_7509,M,42.0,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.9612,0.7075,1.0,4,7,3,0.4429
6980,EID_8706,M,59.0,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.9612,-0.4537,2.0,2,6,3,0.2853
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6985,EID_4484,M,65.0,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.7516,0.7075,2.0,2,8,3,0.5049
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041
6990,EID_20545,M,22.0,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.6081,0.7075,3.0,2,8,2,0.2523
6991,EID_17275,M,26.0,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.7516,0.7075,2.0,4,6,3,0.2265
6993,EID_12529,M,33.0,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,4,7,3,0.2569
6994,EID_11159,M,33.0,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.1048,1.8688,2.0,4,7,2,0.0480

In [ ]:
male.loc[male.Age.isna()]

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
43,EID_1433,M,NaN,3,Married,Springfield,Logistics,Conceptual,19.0,3,51,1,2,4.0,type2,2.0,5,0.7516,1.8688,2.0,3,8,3,0.1571
54,EID_1297,M,NaN,4,Married,Springfield,IT,Directive,24.0,4,52,0,2,5.0,type3,3.0,3,-1.8176,-0.4537,1.0,3,9,4,0.0449
101,EID_13859,M,NaN,4,Married,Lebanon,Operarions,Behavioral,3.0,2,36,0,3,5.0,type2,2.0,4,0.7516,0.7075,3.0,3,5,3,0.1309
116,EID_17036,M,NaN,2,Married,Franklin,Operarions,Directive,5.0,3,47,0,1,6.0,type4,1.0,3,-0.1048,0.7075,NaN,4,6,3,0.2365
151,EID_5324,M,NaN,2,Married,Franklin,Operarions,Directive,18.0,3,31,2,3,6.0,type3,1.0,1,-0.1048,-0.4537,2.0,3,7,2,0.7402
175,EID_6451,M,NaN,2,Single,Franklin,IT,Analytical,26.0,4,70,1,2,7.0,type2,1.0,3,NaN,-0.4537,2.0,3,8,5,0.2345
178,EID_22342,M,NaN,1,Married,Lebanon,IT,Behavioral,0.0,0,20,1,3,4.0,type2,4.0,3,-1.8176,-0.4537,2.0,4,8,2,0.2276
225,EID_10313,M,NaN,2,Married,Lebanon,Purchasing,Conceptual,13.0,1,36,0,3,7.0,type3,1.0,3,1.6081,0.7075,1.0,2,8,3,0.0559
262,EID_8839,M,NaN,3,Married,Springfield,Accounting and Finance,Behavioral,24.0,1,34,0,4,8.0,type2,3.0,5,0.7516,-0.4537,2.0,5,8,5,0.1514
276,EID_16693,M,NaN,4,Single,Franklin,Logistics,Analytical,4.0,3,74,1,3,8.0,type2,1.0,3,0.7516,-0.4537,1.0,2,8,3,0.0490
358,EID_8781,M,NaN,1,Single,Lebanon,Logistics,Behavioral,12.0,2,52,0,2,5.0,type2,2.0,3,-0.9612,-0.4537,3.0,4,6,3,0.7447
449,EID_10045,M,NaN,3,Married,Franklin,Marketing,Behavioral,10.0,3,73,1,1,8.0,type2,3.0,2,-0.9612,0.7075,1.0,2,7,4,0.0312
452,EID_3788,M,NaN,1,Single,Franklin,Accounting and Finance,Conceptual,33.0,2,68,0,1,6.0,type2,2.0,3,1.6081,0.7075,2.0,3,8,3,0.1896
455,EID_12546,M,NaN,1,Married,Springfield,Security,Analytical,11.0,4,49,0,4,1.0,type3,1.0,3,-0.1048,-1.6150,2.0,2,8,3,0.0318
470,EID_18664,M,NaN,4,Married,Franklin,IT,Conceptual,1.0,1,47,1,2,8.0,type2,3.0,3,NaN,-0.4537,2.0,1,6,5,0.0152
472,EID_2489,M,NaN,2,Married,Lebanon,Purchasing,Analytical,26.0,2,50,2,1,7.0,type3,1.0,3,0.7516,-1.6150,2.0,2,8,3,0.1173
490,EID_9418,M,NaN,3,Married,Franklin,Logistics,Conceptual,10.0,4,27,0,2,8.0,type4,3.0,3,0.7516,-0.4537,3.0,4,7,5,0.2200
500,EID_1510,M,NaN,3,Single,Lebanon,Sales,Conceptual,28.0,2,68,1,4,8.0,type2,4.0,1,-0.9612,1.8688,2.0,4,9,3,0.1973
505,EID_17915,M,NaN,3,Single,Washington,Logistics,Conceptual,1.0,1,56,1,4,6.0,type2,4.0,3,-0.1048,-0.4537,3.0,3,9,2,0.1600
530,EID_5512,M,NaN,3,Married,Lebanon,Logistics,Behavioral,8.0,1,34,0,2,2.0,type2,2.0,3,1.6081,0.7075,2.0,4,6,3,0.2228
535,EID_8684,M,NaN,4,Single,Clinton,Quality,Behavioral,27.0,1,28,1,3,4.0,type3,1.0,3,-1.8176,0.7075,1.0,2,5,3,0.0739
706,EID_7047,M,NaN,3,Married,Springfield,Quality,Directive,21.0,1,57,2,2,8.0,type2,3.0,3,-0.9612,-0.4537,1.0,2,5,3,0.1998
782,EID_12768,M,NaN,3,Married,Franklin,IT,Conceptual,7.0,4,34,0,3,9.0,type3,3.0,3,-1.8176,-0.4537,2.0,3,8,4,0.3864
823,EID_24221,M,NaN,3,Married,Franklin,Logistics,Analytical,6.0,2,53,1,2,8.0,type2,5.0,4,0.7516,0.7075,1.0,2,8,4,0.0039
848,EID_18646,M,NaN,4,Single,Franklin,Marketing,Behavioral,1.0,1,51,0,2,2.0,type2,2.0,4,0.7516,-0.4537,3.0,2,6,4,0.0579
955,EID_16009,M,NaN,3,Married,Clinton,Sales,Analytical,2.0,2,61,1,4,2.0,type3,1.0,1,-0.1048,-1.6150,1.0,2,7,5,0.0613
1018,EID_16639,M,NaN,3,Married,Washington,Operarions,Behavioral,6.0,3,45,0,2,6.0,type2,3.0,3,-0.1048,1.8688,2.0,2,6,3,0.0329
1087,EID_14324,M,NaN,4,Married,Lebanon,Accounting and Finance,Directive,8.0,4,30,0,1,6.0,type2,1.0,3,0.7516,-0.4537,2.0,4,7,2,0.0048
1114,EID_22001,M,NaN,4,Married,Springfield,R&D,Conceptual,7.0,2,25,1,3,5.0,type2,1.0,2,0.7516,-0.4537,2.0,2,8,5,0.0204
1115,EID_23020,M,NaN,4,Married,Springfield,Accounting and Finance,Analytical,19.0,1,56,1,4,6.0,type3,2.0,3,-0.1048,0.7075,2.0,3,7,4,0.1189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,EID_21430,M,NaN,3,Married,Springfield,Quality,Conceptual,22.0,4,69,1,4,7.0,type2,3.0,3,-0.9612,-0.4537,2.0,2,5,5,0.6323
5823,EID_2203,M,NaN,3,Single,Washington,Human Resource Management,Conceptual,19.0,4,46,0,3,7.0,type3,4.0,5,0.7516,0.7075,2.0,3,8,3,0.7763
5860,EID_15329,M,NaN,4,Married,Clinton,Production,Behavioral,8.0,2,72,1,3,9.0,type2,3.0,3,0.7516,-1.6150,2.0,2,7,3,0.6733
5981,EID_25166,M,NaN,3,Married,Franklin,Purchasing,Conceptual,3.0,2,61,2,3,5.0,type2,3.0,2,-0.1048,0.7075,2.0,3,9,4,0.8701
6026,EID_14485,M,NaN,5,Married,Lebanon,Purchasing,Directive,7.0,3,72,1,1,7.0,type2,2.0,5,-0.9612,0.7075,2.0,2,8,4,0.6518
6028,EID_11103,M,NaN,3,Married,Washington,Sales,Directive,13.0,2,57,1,5,6.0,type2,1.0,4,1.6081,0.7075,3.0,3,8,4,0.0530
6040,EID_5406,M,NaN,3,Married,Washington,Marketing,Behavioral,22.0,4,58,0,3,7.0,type2,3.0,3,-1.8176,0.7075,2.0,2,8,3,0.2403
6088,EID_20483,M,NaN,5,Single,Washington,Accounting and Finance,Analytical,21.0,1,52,0,1,5.0,type3,2.0,4,0.7516,-0.4537,3.0,4,7,4,0.1885
6097,EID_17236,M,NaN,3,Married,Springfield,Human Resource Management,Analytical,4.0,2,39,1,5,4.0,type0,2.0,3,-0.1048,-0.4537,2.0,4,8,4,0.1580
6109,EID_16106,M,NaN,5,Single,Clinton,Human Resource Management,Directive,4.0,3,59,0,3,5.0,type2,4.0,3,0.7516,-0.4537,2.0,2,5,3,0.0540
6149,EID_23554,M,NaN,4,Married,Springfield,Operarions,Analytical,4.0,2,74,2,3,3.0,type4,1.0,4,NaN,-0.4537,2.0,4,6,5,0.0051
6171,EID_12347,M,NaN,3,Single,Lebanon,Logistics,Analytical,13.0,2,55,1,4,8.0,type2,1.0,1,-0.1048,-0.4537,2.0,3,6,4,0.3331
6178,EID_20760,M,NaN,4,Single,Clinton,Logistics,Conceptual,0.0,0,25,0,3,5.0,type2,3.0,3,0.7516,-0.4537,2.0,2,9,4,0.0022
6182,EID_17798,M,NaN,4,Married,Lebanon,R&D,Directive,2.0,2,48,1,2,5.0,type2,3.0,4,-0.9612,-0.4537,2.0,2,7,5,0.1724
6193,EID_19490,M,NaN,5,Married,Springfield,Quality,Directive,3.0,3,57,1,2,7.0,type4,4.0,3,-1.8176,-1.6150,2.0,3,7,3,0.2819
6250,EID_20146,M,NaN,4,Married,Franklin,IT,Directive,3.0,2,56,1,3,9.0,type2,2.0,3,-0.9612,0.7075,1.0,4,7,3,0.2939
6287,EID_6803,M,NaN,3,Single,Lebanon,Logistics,Behavioral,20.0,4,74,2,4,6.0,type2,2.0,3,-1.8176,-1.6150,2.0,3,8,3,0.0686
6310,EID_7214,M,NaN,5,Single,Franklin,Human Resource Management,Behavioral,12.0,3,44,2,4,8.0,type2,3.0,3,-1.8176,0.7075,2.0,2,5,3,0.0193
6358,EID_9013,M,NaN,2,Single,Franklin,Logistics,Conceptual,19.0,2,59,0,5,8.0,type2,2.0,1,-0.9612,-0.4537,2.0,2,8,3,0.1791
6390,EID_14213,M,NaN,2,Married,Washington,IT,Conceptual,6.0,2,65,0,3,7.0,type2,1.0,4,NaN,1.8688,3.0,3,8,4,0.1017
6407,EID_11418,M,NaN,5,Married,Springfield,IT,Behavioral,11.0,3,40,0,3,5.0,type2,1.0,2,-0.1048,-1.6150,2.0,4,7,3,0.0456
6627,EID_6951,M,NaN,3,Married,Springfield,Operarions,Behavioral,38.0,4,68,2,1,6.0,type2,3.0,4,NaN,0.7075,2.0,4,8,3,0.4273
6667,EID_11031,M,NaN,5,Married,Springfield,Sales,Behavioral,10.0,1,49,1,3,4.0,type2,1.0,3,0.7516,-0.4537,2.0,4,5,3,0.0267
6680,EID_6542,M,NaN,2,Married,Clinton,Logistics,Analytical,10.0,3,20,1,1,1.0,type2,3.0,3,NaN,-1.6150,NaN,2,7,2,0.1236
6706,EID_3237,M,NaN,4,Single,Springfield,Sales,Directive,24.0,2,62,1,2,2.0,type3,3.0,3,NaN,0.7075,2.0,2,6,2,0.6191
6714,EID_4654,M,NaN,4,Married,Lebanon,IT,Directive,16.0,3,62,1,2,8.0,type3,2.0,3,0.7516,-0.4537,2.0,1,8,3,0.1236
6816,EID_23840,M,NaN,4,Married,Springfield,Operarions,Directive,3.0,3,20,1,3,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,7,2,0.1271
6869,EID_4055,M,NaN,3,Married,Lebanon,Operarions,Conceptual,25.0,3,61,1,3,6.0,type2,2.0,2,-1.8176,-0.4537,2.0,3,5,5,0.7800
6981,EID_25181,M,NaN,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6986,EID_17099,M,NaN,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041

In [ ]:
male.loc[male['Relationship_Status']=='Married']['Age'].mean()

39.680715935334874

In [ ]:
def Umur(x):
    if x=="Married":
        return male.loc[male['Relationship_Status']=='Married']['Age'].mean()
    elif x=="Single":
        return male.loc[male['Relationship_Status']=='Married']['Age'].mean()

male['Age']=male['Age'].fillna(male['Relationship_Status'].apply(Umur))

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
df.loc[df['Gender']=='M']=male

In [ ]:
female=df.loc[df['Gender']=='F']

In [ ]:
female.loc[female.Age.isna()]

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
7,EID_1235,F,NaN,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
15,EID_20121,F,NaN,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
25,EID_3901,F,NaN,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
40,EID_17527,F,NaN,2,Married,Springfield,IT,Conceptual,4.0,1,72,2,5,6.0,type3,2.0,3,-1.8176,0.7075,2.0,5,6,2,0.0618
97,EID_22742,F,NaN,4,Married,Lebanon,Human Resource Management,Analytical,19.0,4,27,1,3,5.0,type2,4.0,4,-1.8176,-0.4537,3.0,2,5,3,0.0163
144,EID_25188,F,NaN,3,Single,Springfield,R&D,Analytical,18.0,4,69,1,3,4.0,type2,1.0,4,-0.9612,-0.4537,2.0,2,7,2,0.0211
210,EID_9057,F,NaN,5,Single,Washington,Accounting and Finance,Directive,15.0,2,30,1,3,8.0,type3,1.0,5,NaN,0.7075,2.0,3,8,1,0.1583
271,EID_14814,F,NaN,3,Married,Franklin,Sales,Behavioral,6.0,2,29,1,3,4.0,type2,2.0,4,-0.1048,-0.4537,1.0,1,7,3,0.0746
283,EID_15544,F,NaN,4,Married,Washington,Sales,Conceptual,8.0,3,58,2,3,6.0,type3,3.0,4,-0.1048,0.7075,2.0,4,6,2,0.3228
303,EID_18271,F,NaN,4,Single,Washington,Logistics,Behavioral,3.0,3,69,2,3,6.0,type2,1.0,3,-1.8176,0.7075,2.0,3,8,4,0.1543
330,EID_15933,F,NaN,2,Married,Lebanon,Operarions,Conceptual,7.0,4,60,1,3,2.0,type3,1.0,3,-0.1048,0.7075,NaN,1,5,4,0.1813
375,EID_22833,F,NaN,1,Married,Franklin,IT,Behavioral,8.0,4,56,2,2,7.0,type3,3.0,3,-0.9612,-0.4537,NaN,1,8,1,0.1873
422,EID_3547,F,NaN,3,Single,Franklin,Logistics,Behavioral,25.0,3,62,1,4,6.0,type2,1.0,4,-1.8176,-1.6150,1.0,1,8,5,0.6831
493,EID_2160,F,NaN,5,Married,Springfield,Sales,Analytical,32.0,4,74,1,2,10.0,type3,4.0,3,0.7516,1.8688,2.0,3,5,4,0.1825
513,EID_21349,F,NaN,3,Married,Franklin,IT,Behavioral,18.0,2,34,1,3,8.0,type2,3.0,4,0.7516,-0.4537,1.0,2,5,2,0.1075
554,EID_8052,F,NaN,5,Single,Springfield,IT,Conceptual,17.0,1,53,0,3,8.0,type2,1.0,4,0.7516,0.7075,1.0,2,6,5,0.1714
568,EID_8287,F,NaN,3,Married,Franklin,Sales,Analytical,16.0,3,46,1,2,7.0,type3,2.0,1,NaN,1.8688,2.0,3,8,2,0.0002
589,EID_15694,F,NaN,3,Married,Lebanon,Human Resource Management,Conceptual,4.0,1,70,2,1,5.0,type2,2.0,3,0.7516,0.7075,3.0,2,8,3,0.1522
620,EID_15049,F,NaN,2,Married,Springfield,R&D,Conceptual,5.0,1,55,0,3,5.0,type2,3.0,4,1.6081,0.7075,2.0,3,8,4,0.4139
637,EID_11029,F,NaN,4,Married,Washington,IT,Conceptual,6.0,3,67,0,3,5.0,type4,2.0,2,-0.1048,0.7075,2.0,4,6,3,0.1927
665,EID_1225,F,NaN,3,Single,Franklin,Accounting and Finance,Conceptual,25.0,2,20,1,2,6.0,type2,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.0719
678,EID_2222,F,NaN,3,Married,Springfield,Accounting and Finance,Directive,32.0,1,38,1,2,9.0,type2,1.0,3,0.7516,-0.4537,1.0,3,7,3,0.0370
682,EID_9438,F,NaN,3,Married,Lebanon,IT,Directive,19.0,2,63,2,2,1.0,type2,4.0,4,0.7516,-0.4537,2.0,2,8,4,0.2774
723,EID_6733,F,NaN,3,Single,Springfield,Logistics,Directive,29.0,4,21,1,4,4.0,type3,4.0,2,-0.9612,1.8688,2.0,3,7,5,0.2206
746,EID_12536,F,NaN,3,Single,Lebanon,Operarions,Analytical,7.0,4,49,2,5,6.0,type3,3.0,3,0.7516,-0.4537,2.0,2,8,3,0.1485
788,EID_7136,F,NaN,5,Married,Franklin,Accounting and Finance,Behavioral,12.0,2,73,0,2,1.0,type2,4.0,3,-0.1048,-0.4537,2.0,1,8,3,0.1033
844,EID_5672,F,NaN,5,Married,Clinton,Accounting and Finance,Directive,18.0,4,20,1,4,8.0,type3,4.0,3,NaN,-0.4537,2.0,3,5,3,0.1451
862,EID_5897,F,NaN,4,Married,Franklin,Purchasing,Conceptual,24.0,4,43,0,1,1.0,type3,4.0,3,0.7516,0.7075,3.0,3,8,2,0.0496
887,EID_23719,F,NaN,2,Married,Washington,Human Resource Management,Behavioral,9.0,2,63,1,2,7.0,type2,1.0,3,-1.8176,0.7075,2.0,2,7,3,0.2183
952,EID_19269,F,NaN,4,Married,Franklin,Operarions,Analytical,1.0,1,74,1,2,1.0,type3,4.0,3,NaN,-0.4537,3.0,3,9,2,0.1984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6086,EID_12371,F,NaN,3,Married,Springfield,Sales,Analytical,7.0,1,36,1,2,7.0,type3,1.0,2,0.7516,-0.4537,2.0,3,8,4,0.0309
6168,EID_12511,F,NaN,3,Single,Washington,Operarions,Analytical,9.0,3,48,1,2,7.0,type2,4.0,1,0.7516,0.7075,2.0,3,7,4,0.1829
6169,EID_8291,F,NaN,4,Married,Lebanon,Operarions,Directive,10.0,1,38,2,4,6.0,type3,3.0,4,0.7516,0.7075,2.0,3,8,2,0.6573
6175,EID_9249,F,NaN,3,Single,Franklin,Logistics,Behavioral,36.0,4,49,1,1,5.0,type0,1.0,4,-1.8176,1.8688,2.0,1,8,4,0.1407
6227,EID_8748,F,NaN,3,Married,Lebanon,Marketing,Analytical,12.0,1,52,0,3,7.0,type2,1.0,3,-0.9612,-0.4537,2.0,4,8,3,0.1981
6280,EID_3640,F,NaN,5,Married,Washington,Operarions,Conceptual,20.0,2,24,0,3,3.0,type2,3.0,2,-1.8176,-1.6150,2.0,3,8,5,0.0745
6316,EID_15626,F,NaN,4,Married,Franklin,IT,Conceptual,5.0,3,43,1,3,6.0,type2,1.0,3,-0.1048,-0.4537,2.0,3,8,5,0.1833
6339,EID_16281,F,NaN,2,Single,Springfield,R&D,Conceptual,7.0,3,52,1,3,6.0,type3,3.0,4,0.7516,-2.7762,2.0,4,8,3,0.1408
6362,EID_11673,F,NaN,1,Married,Springfield,Operarions,Conceptual,19.0,3,35,1,5,2.0,type2,1.0,3,1.6081,-1.6150,2.0,2,9,3,0.0735
6392,EID_14677,F,NaN,4,Single,Springfield,Operarions,Behavioral,6.0,4,40,1,3,4.0,type3,2.0,4,0.7516,-0.4537,2.0,2,8,2,0.1420
6429,EID_1439,F,NaN,3,Married,Franklin,Accounting and Finance,Analytical,23.0,1,48,1,3,10.0,type3,2.0,2,-1.8176,-0.4537,1.0,4,6,3,0.0117
6457,EID_10665,F,NaN,3,Married,Springfield,IT,Directive,10.0,1,25,0,3,5.0,type4,1.0,3,0.7516,-0.4537,2.0,4,8,3,0.0049
6478,EID_21293,F,NaN,3,Married,Franklin,IT,Analytical,7.0,4,35,2,5,6.0,type2,3.0,3,-1.8176,-0.4537,2.0,3,7,3,0.1124
6479,EID_18310,F,NaN,4,Married,Franklin,Operarions,Analytical,2.0,2,50,0,3,5.0,type2,1.0,3,-0.9612,0.7075,3.0,2,6,1,0.0195
6489,EID_15607,F,NaN,3,Single,Springfield,Logistics,Analytical,6.0,4,60,0,4,4.0,type3,2.0,3,0.7516,-0.4537,1.0,1,8,3,0.0954
6520,EID_21593,F,NaN,5,Married,Clinton,Logistics,Directive,17.0,4,66,0,3,9.0,type3,1.0,3,0.7516,0.7075,2.0,3,7,3,0.0094
6583,EID_16860,F,NaN,4,Married,Washington,Logistics,Conceptual,3.0,3,20,1,3,6.0,type2,4.0,2,-0.1048,1.8688,2.0,3,8,5,0.0959
6621,EID_7400,F,NaN,2,Single,Lebanon,R&D,Analytical,12.0,4,59,0,1,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1262
6631,EID_14440,F,NaN,2,Married,Franklin,Production,Behavioral,7.0,3,24,1,3,4.0,type3,2.0,1,-0.1048,-1.6150,1.0,3,6,2,0.2115
6666,EID_23116,F,NaN,3,Married,Washington,Human Resource Management,Analytical,11.0,4,74,1,2,7.0,type2,1.0,4,-1.8176,1.8688,2.0,2,8,3,0.1607
6744,EID_24049,F,NaN,3,Married,Lebanon,IT,Behavioral,0.0,0,52,1,3,4.0,type2,2.0,4,1.6081,-0.4537,2.0,2,9,4,0.0546
6753,EID_3748,F,NaN,3,Married,Lebanon,Logistics,Analytical,NaN,1,42,0,3,6.0,type2,2.0,3,-1.8176,0.7075,NaN,3,8,3,0.6815
6793,EID_3380,F,NaN,1,Married,Lebanon,Human Resource Management,Analytical,16.0,3,27,1,4,6.0,type2,3.0,3,1.6081,-0.4537,2.0,4,8,3,0.1295
6796,EID_18697,F,NaN,3,Married,Washington,IT,Behavioral,0.0,0,71,1,1,5.0,type2,1.0,3,-1.8176,1.8688,2.0,4,6,5,0.6376
6803,EID_5956,F,NaN,4,Married,Franklin,R&D,Analytical,16.0,2,39,2,2,5.0,type4,2.0,2,0.7516,-1.6150,2.0,3,8,4,0.1380
6814,EID_11066,F,NaN,3,Single,Franklin,Accounting and Finance,Conceptual,6.0,1,70,1,2,5.0,type2,2.0,4,-0.1048,-0.4537,2.0,2,8,5,0.0642
6815,EID_4288,F,NaN,3,Single,Clinton,IT,Directive,41.0,2,30,1,2,10.0,type3,2.0,5,0.7516,0.7075,3.0,4,8,4,0.0399
6916,EID_16330,F,NaN,4,Single,Franklin,Purchasing,Directive,2.0,2,43,1,5,8.0,type4,3.0,5,0.7516,-0.4537,2.0,3,8,2,0.2779
6945,EID_20301,F,NaN,3,Single,Springfield,Operarions,Conceptual,17.0,1,32,1,2,9.0,type2,2.0,4,-1.8176,-0.4537,2.0,4,8,3,0.1296
6969,EID_18566,F,NaN,1,Single,Washington,R&D,Conceptual,4.0,2,45,0,5,8.0,type3,4.0,3,0.7516,-1.6150,3.0,4,6,3,0.0986

In [ ]:
def Umur(x):
    if x=="Married":
        return female.loc[female['Relationship_Status']=='Married']['Age'].mean()
    elif x=="Single":
        return female.loc[female['Relationship_Status']=='Married']['Age'].mean()

female['Age']=female['Age'].fillna(female['Relationship_Status'].apply(Umur))

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
df.loc[df['Gender']=='F']=female

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  7000 non-null object
Gender                       7000 non-null object
Age                          7000 non-null float64
Education_Level              7000 non-null int64
Relationship_Status          7000 non-null object
Hometown                     7000 non-null object
Unit                         7000 non-null object
Decision_skill_possess       7000 non-null object
Time_of_service              6856 non-null float64
Time_since_promotion         7000 non-null int64
growth_rate                  7000 non-null int64
Travel_Rate                  7000 non-null int64
Post_Level                   7000 non-null int64
Pay_Scale                    6991 non-null float64
Compensation_and_Benefits    7000 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         7000 non-null int64
VAR2                         6423 non-null float64
VAR3                         7000 non-null float64
VAR4                         6344 non-null float64
VAR5                         7000 non-null int64
VAR6                         7000 non-null int64
VAR7                         7000 non-null int64
Attrition_rate               7000 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
df.loc[df['Pay_Scale'].isna()]['Work_Life_balance']

445     1.0
1126    3.0
1378    NaN
1997    3.0
3083    3.0
3777    3.0
4508    2.0
5958    4.0
6857    1.0
Name: Work_Life_balance, dtype: float64

In [ ]:
df.loc[df.index[1378]]

Employee_ID                  EID_19310
Gender                               F
Age                                 21
Education_Level                      4
Relationship_Status             Single
Hometown                      Franklin
Unit                             Sales
Decision_skill_possess       Directive
Time_of_service                      2
Time_since_promotion                 2
growth_rate                         39
Travel_Rate                          0
Post_Level                           1
Pay_Scale                          NaN
Compensation_and_Benefits        type2
Work_Life_balance                  NaN
VAR1                                 2
VAR2                               NaN
VAR3                           -0.4537
VAR4                                 2
VAR5                                 3
VAR6                                 7
VAR7                                 4
Attrition_rate                  0.0617
Name: 1378, dtype: object

In [ ]:
df=df.drop(df.index[1378],axis=0)

In [ ]:
df.reset_index(drop=True)

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.000000,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.000000,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.000000,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.000000,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.000000,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
5,EID_2278,M,54.000000,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.8176,1.8688,2.0,2,8,3,0.7613
6,EID_18588,F,21.000000,4,Married,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.9612,0.7075,2.0,3,7,3,0.2819
7,EID_1235,F,39.619595,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,3,9,3,0.1169
8,EID_10197,M,40.000000,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,NaN,1.8688,2.0,5,6,3,0.1968
9,EID_21262,M,45.000000,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.7516,-0.4537,2.0,4,8,3,0.2870
10,EID_9153,F,65.000000,5,Single,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.7516,-0.4537,3.0,4,6,3,0.2735
11,EID_19087,F,19.000000,5,Single,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.8176,-0.4537,2.0,3,6,3,0.0800
12,EID_4825,M,63.000000,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.1048,-0.4537,2.0,5,6,3,0.2109
13,EID_17644,F,23.000000,4,Single,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.1048,-1.6150,2.0,4,8,3,0.1696
14,EID_20902,F,19.000000,3,Married,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.9612,1.8688,2.0,4,6,3,0.0318
15,EID_20121,F,39.619595,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.7516,-1.6150,1.0,3,8,3,0.1331
16,EID_5504,M,65.000000,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.1048,0.7075,1.0,3,5,3,0.0671
17,EID_8049,F,40.000000,4,Married,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.9612,-0.4537,2.0,5,8,4,0.1468
18,EID_14638,M,33.000000,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.8176,0.7075,2.0,3,8,3,0.0560
19,EID_12947,M,32.000000,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,NaN,0.7075,1.0,1,5,4,0.6410
20,EID_20029,F,22.000000,4,Married,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.9612,-0.4537,2.0,2,7,4,0.1095
21,EID_23546,F,25.000000,3,Married,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.7516,0.7075,3.0,3,8,4,0.0462
22,EID_3722,M,65.000000,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,NaN,0.7075,1.0,3,6,3,0.1708
23,EID_23853,F,31.000000,4,Married,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.1048,0.7075,2.0,3,5,3,0.2704
24,EID_16808,F,24.000000,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.9612,-0.4537,NaN,3,8,5,0.1742
25,EID_3901,F,39.619595,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.1048,-0.4537,1.0,4,8,2,0.8727
26,EID_4861,F,47.000000,4,Single,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.7516,0.7075,2.0,3,5,2,0.2269
27,EID_12981,M,28.000000,3,Single,Lebanon,Sales,Conceptual,NaN,1,58,0,4,8.0,type2,1.0,3,0.7516,0.7075,2.0,3,8,3,0.6272
28,EID_7596,F,45.000000,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.9612,-0.4537,NaN,1,7,5,0.0326
29,EID_14066,F,34.000000,3,Married,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.8176,-0.4537,2.0,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6969,EID_1294,M,58.000000,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.9612,0.7075,2.0,3,8,3,0.1194
6970,EID_21048,F,30.000000,4,Single,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.9612,-0.4537,2.0,4,6,2,0.0133
6971,EID_10571,M,35.000000,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.1048,0.7075,2.0,3,8,3,0.0176
6972,EID_15639,F,26.000000,3,Single,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.1048,-1.6150,2.0,3,7,3,0.0569
6973,EID_10143,M,40.000000,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.1048,-0.4537,2.0,3,6,2,0.0313
6974,EID_2706,F,52.000000,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,NaN,0.7075,NaN,3,7,3,0.1496
6975,EID_15099,M,28.000000,4,Married,Franklin,Operarions,Conceptual,NaN,3,37,1,2,9.0,type3,4.0,3,NaN,-0.4537,2.0,2,7,3,0.2237
6976,EID_24726,F,31.000000,5,Married,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.7516,0.7075,2.0,3,5,4,0.1458
6977,EID_25859,F,54.000000,4,Married,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.9612,-0.4537,1.0,4,8,4,0.1221
6978,EID_7509,M,42.000000,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.9612,0.7075,1.0,4,7,3,0.4429
6979,EID_8706,M,59.000000,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.9612,-0.4537,2.0,2,6,3,0.2853
6980,EID_25181,M,39.680716,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954
6981,EID_12091,F,40.000000,3,Single,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.7516,-0.4537,2.0,3,8,3,0.2978
6982,EID_23816,F,30.000000,3,Married,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.9612,-0.4537,2.0,3,7,3,0.0402
6983,EID_22574,F,47.000000,3,Married,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.7516,0.7075,2.0,4,6,3,0.0765
6984,EID_4484,M,65.000000,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.7516,0.7075,2.0,2,8,3,0.5049
6985,EID_17099,M,39.680716,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.7516,0.7075,1.0,3,5,4,0.1041
6986,EID_21257,F,45.000000,1,Single,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.9612,1.8688,2.0,3,6,3,0.1218
6987,EID_11083,F,38.000000,3,Married,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.7516,-1.6150,2.0,4,8,3,0.0884
6988,EID_20243,F,28.000000,1,Married,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.9612,-2.7762,3.0,3,5,3,0.2541
6989,EID_20545,M,22.000000,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.6081,0.7075,3.0,2,8,2,0.2523
6990,EID_17275,M,26.000000,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.7516,0.7075,2.0,4,6,3,0.2265
6991,EID_19922,F,26.000000,1,Married,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.1048,0.7075,2.0,3,8,3,0.2238
6992,EID_12529,M,33.000000,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.1048,-0.4537,2.0,4,7,3,0.2569
6993,EID_11159,M,33.000000,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.1048,1.8688,2.0,4,7,2,0.0480
6994,EID_16328,F,23.000000,5,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6995,EID_8387,F,44.000000,1,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6996,EID_8077,F,49.000000,3,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6997,EID_19597,F,47.000000,3,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6998,EID_1640,F,58.000000,3,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  6999 non-null object
Gender                       6999 non-null object
Age                          6999 non-null float64
Education_Level              6999 non-null int64
Relationship_Status          6999 non-null object
Hometown                     6999 non-null object
Unit                         6999 non-null object
Decision_skill_possess       6999 non-null object
Time_of_service              6855 non-null float64
Time_since_promotion         6999 non-null int64
growth_rate                  6999 non-null int64
Travel_Rate                  6999 non-null int64
Post_Level                   6999 non-null int64
Pay_Scale                    6991 non-null float64
Compensation_and_Benefits    6999 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         6999 non-null int64
VAR2                         6423 non-null float64
VAR3                         6999 non-null float64
VAR4                         6343 non-null float64
VAR5                         6999 non-null int64
VAR6                         6999 non-null int64
VAR7                         6999 non-null int64
Attrition_rate               6999 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
import random

In [ ]:
df['Pay_Scale']=df['Pay_Scale'].fillna(random.randint(1,10))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  6999 non-null object
Gender                       6999 non-null object
Age                          6999 non-null float64
Education_Level              6999 non-null int64
Relationship_Status          6999 non-null object
Hometown                     6999 non-null object
Unit                         6999 non-null object
Decision_skill_possess       6999 non-null object
Time_of_service              6855 non-null float64
Time_since_promotion         6999 non-null int64
growth_rate                  6999 non-null int64
Travel_Rate                  6999 non-null int64
Post_Level                   6999 non-null int64
Pay_Scale                    6999 non-null float64
Compensation_and_Benefits    6999 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         6999 non-null int64
VAR2                         6423 non-null float64
VAR3                         6999 non-null float64
VAR4                         6343 non-null float64
VAR5                         6999 non-null int64
VAR6                         6999 non-null int64
VAR7                         6999 non-null int64
Attrition_rate               6999 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
pd.set_option('display.max_columns', None)
pd.crosstab(df['Age'], df['Time_of_service'])

Time_of_service,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,39.0,40.0,41.0,42.0,43.0
Age,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19.000000,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20.000000,0,119,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21.000000,0,0,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22.000000,0,0,0,233,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23.000000,0,0,0,0,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24.000000,0,0,0,0,0,180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25.000000,0,0,0,0,0,0,229,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26.000000,0,0,70,79,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27.000000,0,0,0,67,72,88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28.000000,0,0,0,0,51,70,67,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29.000000,0,0,0,0,0,43,44,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30.000000,0,0,0,0,0,0,66,49,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31.000000,0,0,34,33,31,25,19,27,26,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32.000000,0,0,0,23,18,27,23,31,19,26,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33.000000,0,0,0,0,11,11,7,11,13,17,22,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34.000000,0,0,0,0,0,10,10,13,10,11,14,13,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35.000000,0,0,0,0,0,0,20,29,28,22,28,28,27,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36.000000,0,0,0,0,0,0,0,8,12,21,13,6,10,17,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37.000000,0,0,0,0,0,0,0,0,27,24,31,26,26,25,24,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38.000000,0,0,0,0,0,0,0,0,0,11,10,11,11,11,12,14,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39.000000,0,0,0,0,0,0,0,0,0,0,7,11,10,11,11,7,15,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39.619595,5,4,8,9,14,17,22,11,3,7,8,5,5,5,3,7,8,5,4,6,4,4,6,1,6,8,2,3,7,3,1,8,3,1,3,1,1,2,1,1,1,3,0,0
39.680716,6,4,6,17,17,9,11,6,14,1,11,8,4,5,3,4,6,4,2,6,3,2,4,2,5,3,2,1,3,0,0,0,2,1,0,3,1,0,2,1,0,0,0,0
40.000000,0,0,0,0,0,0,0,0,0,0,0,9,11,16,6,12,9,9,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41.000000,0,0,8,3,3,6,4,5,8,5,5,3,4,7,6,3,1,4,7,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42.000000,0,0,0,7,12,7,4,11,8,15,5,4,12,14,16,16,12,14,11,8,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43.000000,0,0,0,0,6,6,3,11,7,2,3,5,6,2,11,1,5,4,9,5,3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44.000000,0,0,0,0,0,4,5,1,7,5,0,6,6,5,5,1,8,8,4,3,3,6,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45.000000,0,0,0,0,0,0,11,12,8,6,12,7,6,5,10,11,11,10,12,11,11,12,10,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46.000000,0,0,0,0,0,0,0,7,6,1,7,4,4,7,7,7,5,2,5,8,7,5,8,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47.000000,0,0,0,0,0,0,0,0,7,9,12,13,10,8,12,14,9,8,13,3,14,11,19,10,13,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48.000000,0,0,0,0,0,0,0,0,0,1,4,3,0,8,5,8,2,4,7,5,2,6,4,4,5,6,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49.000000,0,0,0,0,0,0,0,0,0,0,9,4,5,7,3,4,11,3,7,6,2,6,4,8,3,6,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50.000000,0,0,0,0,0,0,0,0,0,0,0,2,8,5,8,5,6,3,5,4,7,3,9,4,8,6,6,4,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51.000000,0,0,0,0,0,0,0,0,0,0,0,0,10,9,5,5,5,4,6,6,8,6,5,5,3,6,3,8,5,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,11,7,16,10,11,13,6,13,9,15,8,8,12,10,13,8,6,12,0,0,0,0,0,0,0,0,0,0,0,0,0
53.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,3,5,1,11,7,8,6,2,5,5,4,5,3,5,4,5,4,0,0,0,0,0,0,0,0,0,0,0,0
54.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19,10,14,17,9,13,16,15,6,15,8,9,12,14,5,14,11,5,0,0,0,0,0,0,0,0,0,0,0
55.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,5,6,4,6,6,1,3,6,8,5,6,2,4,5,5,7,7,0,0,0,0,0,0,0,0,0,0
56.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,6,4,6,5,6,4,7,5,7,1,4,7,6,2,7,7,6,0,0,0,0,0,0,0,0,0
57.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,5,4,0,7,4,6,6,6,5,7,5,4,7,2,4,7,10,0,0,0,0,0,0,0,0
58.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,5,8,6,6,5,6,8,7,7,7,5,7,9,3,8,5,5,0,0,0,0,0,0,0
59.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,11,8,4,9,3,4,11,9,3,7,10,3,8,6,10,6,10,0,0,0,0,0,0
60.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,9,16,13,7,8,14,8,8,18,14,9,13,8,7,10,14,18,0,0,0,0,0
61.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,5,6,4,4,2,2,5,3,3,3,3,1,4,2,4,4,2,0,0,0,0
62.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,4,4,6,1,6,5,3,2,2,4,1,2,7,1,5,5,5,0,0,0
63.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,6,3,6,1,0,7,6,2,5,3,3,2,6,8,6,5,1,0,0
64.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,5,4,6,8,2,1,7,3,5,7,4,5,4,9,8,5,5,0
65.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,9,12,10,6,6,4,12,7,8,13,9,6,5,5,9,12,8

In [ ]:
def isi(x):
    if x==19 or x==20 or x==21 or x==22 or x==23 or x==24 or x==25 :
        return (x-19)
    elif x==26 or x==27 or x==28 or x==29 or x==30:
        return random.randint(x-24,x-22)
    elif 31<=x<=39: 
        return random.randint(x-29,x-22)
    elif x==40: 
        return random.randint(11,18)
    elif 41<=x<=65:
        return random.randint(x-39,x-22)
    else:
        return random.randint(0,43)

In [ ]:
df['Time_of_service']=df['Time_of_service'].fillna(df['Age'].apply(isi))

In [ ]:
df.loc[df['Time_of_service'].isna()]['Age'].unique()

array([], dtype=float64)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  6999 non-null object
Gender                       6999 non-null object
Age                          6999 non-null float64
Education_Level              6999 non-null int64
Relationship_Status          6999 non-null object
Hometown                     6999 non-null object
Unit                         6999 non-null object
Decision_skill_possess       6999 non-null object
Time_of_service              6999 non-null float64
Time_since_promotion         6999 non-null int64
growth_rate                  6999 non-null int64
Travel_Rate                  6999 non-null int64
Post_Level                   6999 non-null int64
Pay_Scale                    6999 non-null float64
Compensation_and_Benefits    6999 non-null object
Work_Life_balance            6989 non-null float64
VAR1                         6999 non-null int64
VAR2                         6423 non-null float64
VAR3                         6999 non-null float64
VAR4                         6343 non-null float64
VAR5                         6999 non-null int64
VAR6                         6999 non-null int64
VAR7                         6999 non-null int64
Attrition_rate               6999 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
df.describe()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6989.000000,6999.000000,6423.000000,6999.000000,6343.000000,6999.000000,6999.000000,6999.000000,6999.000000
mean,39.626861,3.187741,13.444492,2.367195,47.065438,0.817974,2.798257,6.000572,2.387895,3.098728,-0.008126,-0.013544,1.891061,2.834119,7.101300,3.256894,0.189394
std,13.199425,1.065134,10.383832,1.149469,15.762238,0.648178,1.163606,2.064202,1.122786,0.836334,0.989850,0.986989,0.529443,0.939010,1.164345,0.925343,0.185760
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,28.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,39.619595,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142700
75%,51.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [ ]:
df['Work_Life_balance']=df['Work_Life_balance'].fillna(df['Work_Life_balance'].mean())

In [ ]:
df.loc[df['VAR4'].isnull()]

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
3,EID_17492,F,26.000000,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
24,EID_16808,F,24.000000,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.9612,-0.4537,NaN,3,8,5,0.1742
28,EID_7596,F,45.000000,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.9612,-0.4537,NaN,1,7,5,0.0326
31,EID_23729,M,54.000000,3,Single,Lebanon,Accounting and Finance,Directive,28.0,1,71,2,3,5.0,type2,3.0,4,-0.1048,-0.4537,NaN,2,8,5,0.0647
38,EID_11141,F,33.000000,3,Married,Lebanon,Logistics,Analytical,9.0,3,72,0,1,10.0,type2,2.0,2,0.7516,-0.4537,NaN,2,7,3,0.6961
45,EID_1028,F,39.000000,3,Single,Franklin,Production,Directive,14.0,4,67,1,5,5.0,type4,1.0,3,1.6081,0.7075,NaN,3,6,3,0.0882
49,EID_15197,M,31.000000,4,Single,Springfield,Sales,Behavioral,4.0,2,48,0,5,4.0,type2,1.0,1,-0.1048,0.7075,NaN,3,8,3,0.2300
58,EID_5986,F,54.000000,1,Married,Franklin,IT,Conceptual,23.0,2,29,2,1,6.0,type3,1.0,3,NaN,-0.4537,NaN,4,6,4,0.1379
60,EID_3451,F,54.000000,1,Married,Lebanon,Operarions,Conceptual,15.0,2,27,0,3,6.0,type2,2.0,3,0.7516,0.7075,NaN,4,8,3,0.1313
66,EID_22041,M,32.000000,5,Married,Franklin,Quality,Conceptual,6.0,4,57,1,4,5.0,type2,3.0,1,-0.9612,0.7075,NaN,2,5,3,0.0645
77,EID_14535,F,30.000000,3,Single,Franklin,R&D,Behavioral,8.0,3,58,1,3,6.0,type2,1.0,3,-0.1048,1.8688,NaN,2,8,3,0.0059
90,EID_19048,F,20.000000,3,Married,Lebanon,Logistics,Behavioral,1.0,1,67,2,2,4.0,type2,3.0,4,0.7516,-0.4537,NaN,3,8,3,0.2388
96,EID_23317,M,22.000000,5,Married,Franklin,Production,Conceptual,3.0,1,61,1,2,4.0,type3,1.0,1,1.6081,-0.4537,NaN,2,5,5,0.0350
99,EID_10641,F,39.000000,3,Single,Springfield,Sales,Conceptual,13.0,2,59,2,3,5.0,type3,5.0,2,0.7516,0.7075,NaN,2,8,5,0.0580
103,EID_18204,F,24.000000,3,Married,Lebanon,IT,Directive,5.0,4,60,1,2,6.0,type3,2.0,3,0.7516,0.7075,NaN,2,7,5,0.0344
109,EID_3097,F,51.000000,4,Single,Franklin,Operarions,Analytical,25.0,4,65,1,3,7.0,type2,3.0,3,-0.1048,-0.4537,NaN,2,8,4,0.1293
115,EID_7977,F,59.000000,4,Married,Washington,Logistics,Analytical,22.0,4,49,1,3,7.0,type2,3.0,4,1.6081,-1.6150,NaN,3,7,4,0.2573
116,EID_17036,M,39.680716,2,Married,Franklin,Operarions,Directive,5.0,3,47,0,1,6.0,type4,1.0,3,-0.1048,0.7075,NaN,4,6,3,0.2365
125,EID_15209,F,31.000000,4,Married,Clinton,R&D,Directive,9.0,3,62,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,NaN,4,7,3,0.0226
135,EID_18401,F,20.000000,3,Single,Springfield,Purchasing,Directive,1.0,1,37,0,2,8.0,type3,4.0,3,0.7516,1.8688,NaN,2,7,3,0.5122
159,EID_4939,M,63.000000,3,Married,Springfield,Logistics,Conceptual,37.0,2,39,0,3,5.0,type2,1.0,4,-0.1048,-0.4537,NaN,2,8,4,0.0482
209,EID_18232,M,22.000000,3,Single,Washington,IT,Directive,3.0,3,45,2,4,5.0,type3,4.0,4,0.7516,-0.4537,NaN,2,7,3,0.1543
239,EID_21415,M,60.000000,3,Married,Clinton,Logistics,Analytical,23.0,1,37,1,3,5.0,type2,3.0,3,0.7516,-0.4537,NaN,3,8,3,0.1353
244,EID_24936,F,31.000000,1,Single,Clinton,Production,Analytical,9.0,4,48,1,1,8.0,type2,3.0,4,0.7516,1.8688,NaN,3,6,3,0.0098
246,EID_15357,F,27.000000,4,Married,Springfield,Human Resource Management,Conceptual,5.0,2,73,0,3,8.0,type2,4.0,4,0.7516,1.8688,NaN,4,8,3,0.0902
261,EID_9169,M,42.000000,3,Single,Washington,Purchasing,Analytical,9.0,3,23,1,3,5.0,type3,2.0,4,0.7516,1.8688,NaN,4,6,3,0.0379
274,EID_3389,F,50.000000,4,Single,Washington,Marketing,Analytical,26.0,4,24,1,1,7.0,type2,3.0,1,-1.8176,-2.7762,NaN,1,7,4,0.1051
282,EID_15622,F,23.000000,4,Single,Springfield,IT,Directive,4.0,2,51,1,2,5.0,type2,4.0,3,-0.1048,-0.4537,NaN,3,8,3,0.2869
300,EID_21657,F,30.000000,3,Single,Franklin,IT,Conceptual,8.0,2,31,2,5,7.0,type2,1.0,4,-1.8176,-0.4537,NaN,3,8,3,0.1640
304,EID_1542,F,60.000000,3,Single,Springfield,Logistics,Behavioral,33.0,4,47,1,4,5.0,type2,2.0,3,-0.1048,-0.4537,NaN,3,7,2,0.0905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6607,EID_23306,M,26.000000,3,Married,Franklin,Logistics,Conceptual,3.0,1,32,0,5,8.0,type3,2.0,4,-0.9612,0.7075,NaN,2,6,3,0.2949
6637,EID_3739,M,64.000000,4,Married,Clinton,Logistics,Analytical,39.0,1,68,2,5,8.0,type2,1.0,4,0.7516,-0.4537,NaN,3,5,4,0.0326
6638,EID_11492,F,41.000000,3,Single,Franklin,Marketing,Analytical,9.0,4,23,2,1,4.0,type2,3.0,2,0.7516,-1.6150,NaN,2,6,4,0.2949
6651,EID_20287,M,19.000000,4,Married,Lebanon,Logistics,Conceptual,0.0,0,30,0,3,6.0,type4,2.0,3,-0.1048,-0.4537,NaN,3,8,3,0.1435
6653,EID_15093,M,28.000000,3,Single,Clinton,Operarions,Conceptual,6.0,1,42,1,4,8.0,type2,4.0,3,-0.1048,-0.4537,NaN,2,7,2,0.0904
6655,EID_15654,F,26.000000,3,Married,Franklin,Logistics,Behavioral,3.0,2,62,0,3,4.0,type2,2.0,3,0.7516,-0.4537,NaN,3,8,3,0.1479
6656,EID_15782,F,30.000000,4,Single,Lebanon,IT,Directive,7.0,4,31,0,2,8.0,type2,4.0,4,0.7516,1.8688,NaN,2,5,3,0.0652
6657,EID_24403,F,28.000000,3,Single,Washington,IT,Analytical,6.0,1,48,0,2,8.0,type2,3.0,2,0.7516,-0.4537,NaN,4,6,3,0.3676
6661,EID_24188,M,26.000000,1,Married,Franklin,Operarions,Conceptual,2.0,2,54,1,2,8.0,type3,4.0,3,0.7516,0.7075,NaN,3,7,4,0.0152
6665,EID_21234,F,45.000000,3,Married,Clinton,Sales,Analytical,18.0,1,35,1,2,4.0,type2,3.0,3,0.7516,-0.4537,NaN,1,8,5,0.1275
6669,EID_17038,M,27.000000,5,Married,Springfield,IT,Analytical,5.0,1,29,0,2,9.0,type3,3.0,2,-1.8176,-0.4537,NaN,2,6,1,0.0020
6679,EID_13058,M,32.000000,4,Single,Franklin,R&D,Behavioral,7.0,3,68,0,3,8.0,type2,3.0,4,-0.1048,0.7075,NaN,3,8,4,0.2926
6680,EID_6542,M,39.680716,2,Married,Clinton,Logistics,Analytical,10.0,3,20,1,1,1.0,type2,3.0,3,NaN,-1.6150,NaN,2,7,2,0.1236
6703,EID_8356,M,65.000000,3,Single,Franklin,IT,Directive,35.0,2,40,2,1,5.0,type3,3.0,3,0.7516,0.7075,NaN,4,8,4,0.1137
6710,EID_17551,F,23.000000,5,Married,Clinton,Operarions,Conceptual,4.0,2,30,1,2,8.0,type2,4.0,3,-0.9612,-1.6150,NaN,2,8,4,0.2670
6718,EID_7987,M,65.000000,4,Single,Clinton,Sales,Behavioral,27.0,3,54,0,3,5.0,type2,4.0,3,0.7516,0.7075,NaN,3,8,5,0.1864
6738,EID_3323,M,51.000000,4,Single,Franklin,Sales,Analytical,13.0,2,49,1,3,7.0,type2,3.0,3,0.7516,-0.4537,NaN,2,8,3,0.0683
6753,EID_3748,F,39.619595,3,Married,Lebanon,Logistics,Analytical,30.0,1,42,0,3,6.0,type2,2.0,3,-1.8176,0.7075,NaN,3,8,3,0.6815
6760,EID_1726,F,64.000000,3,Married,Lebanon,Sales,Behavioral,41.0,2,53,1,5,10.0,type2,3.0,2,-0.9612,-0.4537,NaN,3,6,3,0.1413
6779,EID_8979,M,47.000000,3,Single,Franklin,IT,Behavioral,14.0,3,33,0,3,5.0,type2,2.0,3,-1.8176,-0.4537,NaN,3,7,1,0.1797
6794,EID_13561,F,27.000000,4,Married,Washington,Operarions,Analytical,4.0,4,51,2,3,5.0,type2,3.0,2,NaN,-0.4537,NaN,4,5,2,0.0143
6800,EID_1071,M,65.000000,3,Single,Springfield,IT,Analytical,42.0,2,61,2,3,5.0,type2,2.0,3,NaN,-0.4537,NaN,3,6,3,0.1704
6834,EID_23243,F,37.000000,3,Married,Springfield,IT,Directive,9.0,1,54,0,3,1.0,type3,4.0,4,0.7516,-0.4537,NaN,4,5,3,0.0411
6847,EID_14027,F,35.000000,5,Married,Franklin,R&D,Conceptual,9.0,4,62,1,3,8.0,type2,1.0,4,0.7516,0.7075,NaN,5,6,2,0.2339
6894,EID_17639,F,21.000000,3,Single,Lebanon,Sales,Directive,2.0,2,62,1,3,2.0,type2,1.0,5,0.7516,0.7075,NaN,3,5,3,0.6056
6917,EID_25051,F,31.000000,2,Single,Franklin,IT,Conceptual,9.0,3,24,1,5,3.0,type2,1.0,5,0.7516,-1.6150,NaN,4,6,3,0.0684
6929,EID_13324,M,36.000000,4,Married,Springfield,Accounting and Finance,Behavioral,13.0,1,48,2,1,5.0,type2,3.0,3,-0.1048,-1.6150,NaN,3,5,3,0.5868
6963,EID_13391,F,31.000000,1,Single,Springfield,IT,Behavioral,4.0,1,49,1,2,6.0,type3,3.0,3,-0.1048,-0.4537,NaN,3,8,4,0.0820
6975,EID_2706,F,52.000000,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,NaN,0.7075,NaN,3,7,3,0.1496
6981,EID_25181,M,39.680716,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.6081,-1.6150,NaN,5,8,5,0.1954

In [ ]:
df['VAR4']=df['VAR4'].fillna(df['VAR4'].mean())
df['VAR2']=df['VAR2'].fillna(df['VAR2'].mean())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 0 to 6999
Data columns (total 24 columns):
Employee_ID                  6999 non-null object
Gender                       6999 non-null object
Age                          6999 non-null float64
Education_Level              6999 non-null int64
Relationship_Status          6999 non-null object
Hometown                     6999 non-null object
Unit                         6999 non-null object
Decision_skill_possess       6999 non-null object
Time_of_service              6999 non-null float64
Time_since_promotion         6999 non-null int64
growth_rate                  6999 non-null int64
Travel_Rate                  6999 non-null int64
Post_Level                   6999 non-null int64
Pay_Scale                    6999 non-null float64
Compensation_and_Benefits    6999 non-null object
Work_Life_balance            6999 non-null float64
VAR1                         6999 non-null int64
VAR2                         6999 non-null float64
VAR3                         6999 non-null float64
VAR4                         6999 non-null float64
VAR5                         6999 non-null int64
VAR6                         6999 non-null int64
VAR7                         6999 non-null int64
Attrition_rate               6999 non-null float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.000000,4,Married,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.751600,1.8688,2.000000,4,5,3,0.1841
1,EID_18000,M,24.000000,3,Single,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.961200,-0.4537,2.000000,3,5,3,0.0670
2,EID_3891,F,58.000000,3,Married,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.961200,-0.4537,3.000000,3,8,3,0.0851
3,EID_17492,F,26.000000,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.817600,-0.4537,1.891061,3,7,3,0.0668
4,EID_22534,F,31.000000,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.751600,-0.4537,2.000000,2,8,2,0.1827
5,EID_2278,M,54.000000,3,Married,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.817600,1.8688,2.000000,2,8,3,0.7613
6,EID_18588,F,21.000000,4,Married,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.961200,0.7075,2.000000,3,7,3,0.2819
7,EID_1235,F,39.619595,3,Married,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.104800,-0.4537,2.000000,3,9,3,0.1169
8,EID_10197,M,40.000000,4,Single,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,-0.008126,1.8688,2.000000,5,6,3,0.1968
9,EID_21262,M,45.000000,3,Married,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.751600,-0.4537,2.000000,4,8,3,0.2870
10,EID_9153,F,65.000000,5,Single,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.751600,-0.4537,3.000000,4,6,3,0.2735
11,EID_19087,F,19.000000,5,Single,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.817600,-0.4537,2.000000,3,6,3,0.0800
12,EID_4825,M,63.000000,3,Married,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.104800,-0.4537,2.000000,5,6,3,0.2109
13,EID_17644,F,23.000000,4,Single,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.104800,-1.6150,2.000000,4,8,3,0.1696
14,EID_20902,F,19.000000,3,Married,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.961200,1.8688,2.000000,4,6,3,0.0318
15,EID_20121,F,39.619595,3,Married,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.751600,-1.6150,1.000000,3,8,3,0.1331
16,EID_5504,M,65.000000,4,Single,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.104800,0.7075,1.000000,3,5,3,0.0671
17,EID_8049,F,40.000000,4,Married,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.961200,-0.4537,2.000000,5,8,4,0.1468
18,EID_14638,M,33.000000,3,Single,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.817600,0.7075,2.000000,3,8,3,0.0560
19,EID_12947,M,32.000000,3,Single,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,-0.008126,0.7075,1.000000,1,5,4,0.6410
20,EID_20029,F,22.000000,4,Married,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.961200,-0.4537,2.000000,2,7,4,0.1095
21,EID_23546,F,25.000000,3,Married,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.751600,0.7075,3.000000,3,8,4,0.0462
22,EID_3722,M,65.000000,1,Married,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,-0.008126,0.7075,1.000000,3,6,3,0.1708
23,EID_23853,F,31.000000,4,Married,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.104800,0.7075,2.000000,3,5,3,0.2704
24,EID_16808,F,24.000000,5,Single,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.961200,-0.4537,1.891061,3,8,5,0.1742
25,EID_3901,F,39.619595,2,Married,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.104800,-0.4537,1.000000,4,8,2,0.8727
26,EID_4861,F,47.000000,4,Single,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.751600,0.7075,2.000000,3,5,2,0.2269
27,EID_12981,M,28.000000,3,Single,Lebanon,Sales,Conceptual,4.0,1,58,0,4,8.0,type2,1.0,3,0.751600,0.7075,2.000000,3,8,3,0.6272
28,EID_7596,F,45.000000,3,Married,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.961200,-0.4537,1.891061,1,7,5,0.0326
29,EID_14066,F,34.000000,3,Married,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.817600,-0.4537,2.000000,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,M,58.000000,4,Married,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.961200,0.7075,2.000000,3,8,3,0.1194
6971,EID_21048,F,30.000000,4,Single,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.961200,-0.4537,2.000000,4,6,2,0.0133
6972,EID_10571,M,35.000000,3,Single,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.104800,0.7075,2.000000,3,8,3,0.0176
6973,EID_15639,F,26.000000,3,Single,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.104800,-1.6150,2.000000,3,7,3,0.0569
6974,EID_10143,M,40.000000,3,Single,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.104800,-0.4537,2.000000,3,6,2,0.0313
6975,EID_2706,F,52.000000,3,Married,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,-0.008126,0.7075,1.891061,3,7,3,0.1496
6976,EID_15099,M,28.000000,4,Married,Franklin,Operarions,Conceptual,5.0,3,37,1,2,9.0,type3,4.0,3,-0.008126,-0.4537,2.000000,2,7,3,0.2237
6977,EID_24726,F,31.000000,5,Married,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.751600,0.7075,2.000000,3,5,4,0.1458
6978,EID_25859,F,54.000000,4,Married,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.961200,-0.4537,1.000000,4,8,4,0.1221
6979,EID_7509,M,42.000000,1,Married,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.961200,0.7075,1.000000,4,7,3,0.4429
6980,EID_8706,M,59.000000,5,Married,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.961200,-0.4537,2.000000,2,6,3,0.2853
6981,EID_25181,M,39.680716,3,Married,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.608100,-1.6150,1.891061,5,8,5,0.1954
6982,EID_12091,F,40.000000,3,Single,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.751600,-0.4537,2.000000,3,8,3,0.2978
6983,EID_23816,F,30.000000,3,Married,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.961200,-0.4537,2.000000,3,7,3,0.0402
6984,EID_22574,F,47.000000,3,Married,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.751600,0.7075,2.000000,4,6,3,0.0765
6985,EID_4484,M,65.000000,3,Single,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.751600,0.7075,2.000000,2,8,3,0.5049
6986,EID_17099,M,39.680716,4,Single,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.751600,0.7075,1.000000,3,5,4,0.1041
6987,EID_21257,F,45.000000,1,Single,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.961200,1.8688,2.000000,3,6,3,0.1218
6988,EID_11083,F,38.000000,3,Married,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.751600,-1.6150,2.000000,4,8,3,0.0884
6989,EID_20243,F,28.000000,1,Married,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.961200,-2.7762,3.000000,3,5,3,0.2541
6990,EID_20545,M,22.000000,4,Married,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.608100,0.7075,3.000000,2,8,2,0.2523
6991,EID_17275,M,26.000000,5,Married,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.751600,0.7075,2.000000,4,6,3,0.2265
6992,EID_19922,F,26.000000,1,Married,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.104800,0.7075,2.000000,3,8,3,0.2238
6993,EID_12529,M,33.000000,4,Married,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.104800,-0.4537,2.000000,4,7,3,0.2569
6994,EID_11159,M,33.000000,3,Married,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.104800,1.8688,2.000000,4,7,2,0.0480
6995,EID_16328,F,23.000000,5,Married,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.751600,-0.4537,2.000000,3,7,3,0.7839
6996,EID_8387,F,44.000000,1,Married,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.104800,-2.7762,2.000000,4,8,4,0.1055
6997,EID_8077,F,49.000000,3,Single,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.104800,-0.4537,2.000000,4,8,3,0.7847
6998,EID_19597,F,47.000000,3,Married,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.751600,1.8688,2.000000,3,6,3,0.4162
6999,EID_1640,F,58.000000,3,Married,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.104800,-1.6150,3.000000,4,5,3,0.0910

In [ ]:
def gender(x):
    if x=='F':
        return 0
    elif x=='M':
        return 1

df['Gender']=df['Gender'].apply(gender)

In [ ]:
def status(x):
    if x=='Single':
        return 0
    elif x=='Married':
        return 1

df['Relationship_Status']=df['Relationship_Status'].apply(status)

In [ ]:
df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,0,42.000000,4,1,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,type2,3.0,4,0.751600,1.8688,2.000000,4,5,3,0.1841
1,EID_18000,1,24.000000,3,0,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,type2,4.0,3,-0.961200,-0.4537,2.000000,3,5,3,0.0670
2,EID_3891,0,58.000000,3,1,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,type2,1.0,4,-0.961200,-0.4537,3.000000,3,8,3,0.0851
3,EID_17492,0,26.000000,3,0,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,type2,1.0,3,-1.817600,-0.4537,1.891061,3,7,3,0.0668
4,EID_22534,0,31.000000,1,1,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,type3,3.0,1,0.751600,-0.4537,2.000000,2,8,2,0.1827
5,EID_2278,1,54.000000,3,1,Lebanon,Purchasing,Conceptual,19.0,1,21,2,5,9.0,type2,1.0,3,-1.817600,1.8688,2.000000,2,8,3,0.7613
6,EID_18588,0,21.000000,4,1,Springfield,Purchasing,Directive,2.0,1,50,1,1,6.0,type2,2.0,3,-0.961200,0.7075,2.000000,3,7,3,0.2819
7,EID_1235,0,39.619595,3,1,Springfield,Sales,Directive,34.0,4,23,1,4,6.0,type3,2.0,3,-0.104800,-0.4537,2.000000,3,9,3,0.1169
8,EID_10197,1,40.000000,4,0,Springfield,Production,Analytical,13.0,1,49,0,1,9.0,type0,4.0,1,-0.008126,1.8688,2.000000,5,6,3,0.1968
9,EID_21262,1,45.000000,3,1,Lebanon,IT,Directive,21.0,4,34,0,2,5.0,type3,4.0,3,0.751600,-0.4537,2.000000,4,8,3,0.2870
10,EID_9153,0,65.000000,5,0,Lebanon,Purchasing,Behavioral,31.0,3,49,1,1,6.0,type3,3.0,3,0.751600,-0.4537,3.000000,4,6,3,0.2735
11,EID_19087,0,19.000000,5,0,Springfield,Operarions,Analytical,0.0,0,25,1,2,5.0,type4,1.0,3,-1.817600,-0.4537,2.000000,3,6,3,0.0800
12,EID_4825,1,63.000000,3,1,Lebanon,Sales,Conceptual,27.0,1,29,0,2,7.0,type2,1.0,3,-0.104800,-0.4537,2.000000,5,6,3,0.2109
13,EID_17644,0,23.000000,4,0,Washington,Logistics,Conceptual,4.0,2,70,1,3,8.0,type2,3.0,4,-0.104800,-1.6150,2.000000,4,8,3,0.1696
14,EID_20902,0,19.000000,3,1,Washington,Human Resource Management,Directive,0.0,0,74,0,2,9.0,type2,3.0,3,-0.961200,1.8688,2.000000,4,6,3,0.0318
15,EID_20121,0,39.619595,3,1,Springfield,Logistics,Analytical,0.0,0,32,1,2,6.0,type2,2.0,3,0.751600,-1.6150,1.000000,3,8,3,0.1331
16,EID_5504,1,65.000000,4,0,Franklin,IT,Behavioral,35.0,1,58,0,3,4.0,type2,2.0,3,-0.104800,0.7075,1.000000,3,5,3,0.0671
17,EID_8049,0,40.000000,4,1,Springfield,Accounting and Finance,Directive,12.0,1,45,1,3,9.0,type3,2.0,3,-0.961200,-0.4537,2.000000,5,8,4,0.1468
18,EID_14638,1,33.000000,3,0,Springfield,Accounting and Finance,Analytical,9.0,1,39,1,2,5.0,type3,1.0,3,-1.817600,0.7075,2.000000,3,8,3,0.0560
19,EID_12947,1,32.000000,3,0,Lebanon,IT,Conceptual,7.0,4,44,0,4,5.0,type2,1.0,3,-0.008126,0.7075,1.000000,1,5,4,0.6410
20,EID_20029,0,22.000000,4,1,Clinton,Quality,Behavioral,3.0,1,53,0,4,6.0,type2,3.0,3,-0.961200,-0.4537,2.000000,2,7,4,0.1095
21,EID_23546,0,25.000000,3,1,Springfield,IT,Directive,6.0,3,53,1,2,6.0,type3,1.0,3,0.751600,0.7075,3.000000,3,8,4,0.0462
22,EID_3722,1,65.000000,1,1,Franklin,IT,Analytical,33.0,2,30,0,3,7.0,type2,2.0,3,-0.008126,0.7075,1.000000,3,6,3,0.1708
23,EID_23853,0,31.000000,4,1,Washington,Accounting and Finance,Analytical,6.0,4,39,1,3,8.0,type3,1.0,3,-0.104800,0.7075,2.000000,3,5,3,0.2704
24,EID_16808,0,24.000000,5,0,Springfield,Sales,Conceptual,5.0,1,52,0,3,8.0,type2,2.0,3,-0.961200,-0.4537,1.891061,3,8,5,0.1742
25,EID_3901,0,39.619595,2,1,Washington,Marketing,Directive,15.0,1,58,1,3,3.0,type2,1.0,3,-0.104800,-0.4537,1.000000,4,8,2,0.8727
26,EID_4861,0,47.000000,4,0,Washington,R&D,Analytical,21.0,1,34,1,3,8.0,type2,4.0,4,0.751600,0.7075,2.000000,3,5,2,0.2269
27,EID_12981,1,28.000000,3,0,Lebanon,Sales,Conceptual,4.0,1,58,0,4,8.0,type2,1.0,3,0.751600,0.7075,2.000000,3,8,3,0.6272
28,EID_7596,0,45.000000,3,1,Lebanon,R&D,Analytical,15.0,4,60,0,2,9.0,type4,2.0,3,-0.961200,-0.4537,1.891061,1,7,5,0.0326
29,EID_14066,0,34.000000,3,1,Lebanon,Operarions,Analytical,6.0,1,29,0,4,7.0,type2,3.0,3,-1.817600,-0.4537,2.000000,2,8,3,0.2730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,1,58.000000,4,1,Lebanon,Operarions,Directive,34.0,3,23,2,1,5.0,type2,3.0,1,-0.961200,0.7075,2.000000,3,8,3,0.1194
6971,EID_21048,0,30.000000,4,0,Lebanon,Logistics,Behavioral,6.0,2,66,2,5,9.0,type2,3.0,2,-0.961200,-0.4537,2.000000,4,6,2,0.0133
6972,EID_10571,1,35.000000,3,0,Franklin,IT,Directive,12.0,4,63,1,2,4.0,type3,4.0,3,-0.104800,0.7075,2.000000,3,8,3,0.0176
6973,EID_15639,0,26.000000,3,0,Springfield,IT,Analytical,3.0,2,68,1,2,7.0,type3,3.0,3,-0.104800,-1.6150,2.000000,3,7,3,0.0569
6974,EID_10143,1,40.000000,3,0,Springfield,Human Resource Management,Analytical,18.0,3,69,1,1,6.0,type3,3.0,3,-0.104800,-0.4537,2.000000,3,6,2,0.0313
6975,EID_2706,0,52.000000,3,1,Clinton,R&D,Conceptual,25.0,1,43,2,2,7.0,type2,3.0,3,-0.008126,0.7075,1.891061,3,7,3,0.1496
6976,EID_15099,1,28.000000,4,1,Franklin,Operarions,Conceptual,5.0,3,37,1,2,9.0,type3,4.0,3,-0.008126,-0.4537,2.000000,2,7,3,0.2237
6977,EID_24726,0,31.000000,5,1,Springfield,Operarions,Directive,4.0,4,70,2,5,7.0,type3,2.0,2,0.751600,0.7075,2.000000,3,5,4,0.1458
6978,EID_25859,0,54.000000,4,1,Springfield,Purchasing,Conceptual,22.0,4,28,1,2,5.0,type3,1.0,5,-0.961200,-0.4537,1.000000,4,8,4,0.1221
6979,EID_7509,1,42.000000,1,1,Springfield,Purchasing,Directive,15.0,4,58,1,2,6.0,type3,3.0,3,-0.961200,0.7075,1.000000,4,7,3,0.4429
6980,EID_8706,1,59.000000,5,1,Springfield,Operarions,Analytical,33.0,1,20,1,3,4.0,type2,4.0,4,-0.961200,-0.4537,2.000000,2,6,3,0.2853
6981,EID_25181,1,39.680716,3,1,Springfield,Logistics,Behavioral,17.0,3,58,1,3,4.0,type2,1.0,4,1.608100,-1.6150,1.891061,5,8,5,0.1954
6982,EID_12091,0,40.000000,3,0,Lebanon,Sales,Analytical,15.0,4,74,2,1,7.0,type2,3.0,3,0.751600,-0.4537,2.000000,3,8,3,0.2978
6983,EID_23816,0,30.000000,3,1,Franklin,Operarions,Behavioral,6.0,4,64,1,3,8.0,type3,4.0,3,-0.961200,-0.4537,2.000000,3,7,3,0.0402
6984,EID_22574,0,47.000000,3,1,Lebanon,Purchasing,Conceptual,24.0,3,57,0,5,8.0,type2,2.0,4,0.751600,0.7075,2.000000,4,6,3,0.0765
6985,EID_4484,1,65.000000,3,0,Washington,Human Resource Management,Conceptual,30.0,2,35,0,3,10.0,type2,1.0,5,0.751600,0.7075,2.000000,2,8,3,0.5049
6986,EID_17099,1,39.680716,4,0,Franklin,Human Resource Management,Directive,3.0,1,59,0,2,5.0,type2,2.0,3,0.751600,0.7075,1.000000,3,5,4,0.1041
6987,EID_21257,0,45.000000,1,0,Lebanon,Operarions,Analytical,15.0,1,51,2,3,3.0,type3,2.0,5,-0.961200,1.8688,2.000000,3,6,3,0.1218
6988,EID_11083,0,38.000000,3,1,Washington,Logistics,Behavioral,14.0,3,23,0,1,4.0,type2,3.0,3,0.751600,-1.6150,2.000000,4,8,3,0.0884
6989,EID_20243,0,28.000000,1,1,Lebanon,R&D,Conceptual,4.0,4,26,0,1,8.0,type2,3.0,3,-0.961200,-2.7762,3.000000,3,5,3,0.2541
6990,EID_20545,1,22.000000,4,1,Lebanon,Logistics,Analytical,3.0,3,43,1,3,10.0,type3,3.0,3,1.608100,0.7075,3.000000,2,8,2,0.2523
6991,EID_17275,1,26.000000,5,1,Franklin,Accounting and Finance,Conceptual,2.0,2,51,1,3,5.0,type2,2.0,2,0.751600,0.7075,2.000000,4,6,3,0.2265
6992,EID_19922,0,26.000000,1,1,Franklin,Accounting and Finance,Analytical,4.0,2,52,1,3,3.0,type2,1.0,1,-0.104800,0.7075,2.000000,3,8,3,0.2238
6993,EID_12529,1,33.000000,4,1,Franklin,Logistics,Directive,7.0,4,66,2,4,6.0,type3,2.0,3,-0.104800,-0.4537,2.000000,4,7,3,0.2569
6994,EID_11159,1,33.000000,3,1,Springfield,Accounting and Finance,Behavioral,9.0,3,34,0,1,8.0,type2,4.0,4,-0.104800,1.8688,2.000000,4,7,2,0.0480
6995,EID_16328,0,23.000000,5,1,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,type3,3.0,1,0.751600,-0.4537,2.000000,3,7,3,0.7839
6996,EID_8387,0,44.000000,1,1,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,type3,3.0,2,-0.104800,-2.7762,2.000000,4,8,4,0.1055
6997,EID_8077,0,49.000000,3,0,Springfield,IT,Directive,10.0,1,59,1,2,3.0,type2,4.0,2,-0.104800,-0.4537,2.000000,4,8,3,0.7847
6998,EID_19597,0,47.000000,3,1,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,type0,2.0,4,0.751600,1.8688,2.000000,3,6,3,0.4162
6999,EID_1640,0,58.000000,3,1,Franklin,IT,Directive,22.0,2,74,0,4,5.0,type2,3.0,3,-0.104800,-1.6150,3.000000,4,5,3,0.0910

In [ ]:
df['Decision_skill_possess'].value_counts()

Conceptual    1756
Analytical    1755
Directive     1752
Behavioral    1736
Name: Decision_skill_possess, dtype: int64

In [ ]:
def unit(x):
    if x=='IT':
        return 0
    elif x=='Logistics':
        return 1
    elif x=='Sales':
        return 2
    elif x=='Operarions':
        return 3
    elif x=='R&D':
        return 4
    elif x=='Purchasing':
        return 4
    elif x=='Accounting and Finance':
        return 5
    elif x=='Human Resource Management':
        return 6
    elif x=='Marketing':
        return 7
    elif x=='Production':
        return 8
    elif x=='Quality':
        return 9
    elif x=='Security':
        return 10

df['Unit']=df['Unit'].apply(unit)

In [ ]:
def tipe(x):
    if x=='type0':
        return 0
    elif x=='type1':
        return 1
    elif x=='type2':
        return 2
    elif x=='type3':
        return 3
    elif x=='type4':
        return 4

df['Compensation_and_Benefits']=df['Compensation_and_Benefits'].apply(tipe)

In [ ]:
df = pd.get_dummies(df, columns = ['Decision_skill_possess'])

In [ ]:
df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive
0,EID_23371,0,42.000000,4,1,Franklin,0,4.0,4,33,1,1,7.0,2,3.0,4,0.751600,1.8688,2.000000,4,5,3,0.1841,0,0,1,0
1,EID_18000,1,24.000000,3,0,Springfield,1,5.0,4,36,0,3,6.0,2,4.0,3,-0.961200,-0.4537,2.000000,3,5,3,0.0670,1,0,0,0
2,EID_3891,0,58.000000,3,1,Clinton,9,27.0,3,51,0,2,8.0,2,1.0,4,-0.961200,-0.4537,3.000000,3,8,3,0.0851,0,0,1,0
3,EID_17492,0,26.000000,3,0,Lebanon,6,4.0,3,56,1,3,8.0,2,1.0,3,-1.817600,-0.4537,1.891061,3,7,3,0.0668,0,1,0,0
4,EID_22534,0,31.000000,1,1,Springfield,1,5.0,4,62,1,3,2.0,3,3.0,1,0.751600,-0.4537,2.000000,2,8,2,0.1827,0,0,1,0
5,EID_2278,1,54.000000,3,1,Lebanon,4,19.0,1,21,2,5,9.0,2,1.0,3,-1.817600,1.8688,2.000000,2,8,3,0.7613,0,0,1,0
6,EID_18588,0,21.000000,4,1,Springfield,4,2.0,1,50,1,1,6.0,2,2.0,3,-0.961200,0.7075,2.000000,3,7,3,0.2819,0,0,0,1
7,EID_1235,0,39.619595,3,1,Springfield,2,34.0,4,23,1,4,6.0,3,2.0,3,-0.104800,-0.4537,2.000000,3,9,3,0.1169,0,0,0,1
8,EID_10197,1,40.000000,4,0,Springfield,8,13.0,1,49,0,1,9.0,0,4.0,1,-0.008126,1.8688,2.000000,5,6,3,0.1968,1,0,0,0
9,EID_21262,1,45.000000,3,1,Lebanon,0,21.0,4,34,0,2,5.0,3,4.0,3,0.751600,-0.4537,2.000000,4,8,3,0.2870,0,0,0,1
10,EID_9153,0,65.000000,5,0,Lebanon,4,31.0,3,49,1,1,6.0,3,3.0,3,0.751600,-0.4537,3.000000,4,6,3,0.2735,0,1,0,0
11,EID_19087,0,19.000000,5,0,Springfield,3,0.0,0,25,1,2,5.0,4,1.0,3,-1.817600,-0.4537,2.000000,3,6,3,0.0800,1,0,0,0
12,EID_4825,1,63.000000,3,1,Lebanon,2,27.0,1,29,0,2,7.0,2,1.0,3,-0.104800,-0.4537,2.000000,5,6,3,0.2109,0,0,1,0
13,EID_17644,0,23.000000,4,0,Washington,1,4.0,2,70,1,3,8.0,2,3.0,4,-0.104800,-1.6150,2.000000,4,8,3,0.1696,0,0,1,0
14,EID_20902,0,19.000000,3,1,Washington,6,0.0,0,74,0,2,9.0,2,3.0,3,-0.961200,1.8688,2.000000,4,6,3,0.0318,0,0,0,1
15,EID_20121,0,39.619595,3,1,Springfield,1,0.0,0,32,1,2,6.0,2,2.0,3,0.751600,-1.6150,1.000000,3,8,3,0.1331,1,0,0,0
16,EID_5504,1,65.000000,4,0,Franklin,0,35.0,1,58,0,3,4.0,2,2.0,3,-0.104800,0.7075,1.000000,3,5,3,0.0671,0,1,0,0
17,EID_8049,0,40.000000,4,1,Springfield,5,12.0,1,45,1,3,9.0,3,2.0,3,-0.961200,-0.4537,2.000000,5,8,4,0.1468,0,0,0,1
18,EID_14638,1,33.000000,3,0,Springfield,5,9.0,1,39,1,2,5.0,3,1.0,3,-1.817600,0.7075,2.000000,3,8,3,0.0560,1,0,0,0
19,EID_12947,1,32.000000,3,0,Lebanon,0,7.0,4,44,0,4,5.0,2,1.0,3,-0.008126,0.7075,1.000000,1,5,4,0.6410,0,0,1,0
20,EID_20029,0,22.000000,4,1,Clinton,9,3.0,1,53,0,4,6.0,2,3.0,3,-0.961200,-0.4537,2.000000,2,7,4,0.1095,0,1,0,0
21,EID_23546,0,25.000000,3,1,Springfield,0,6.0,3,53,1,2,6.0,3,1.0,3,0.751600,0.7075,3.000000,3,8,4,0.0462,0,0,0,1
22,EID_3722,1,65.000000,1,1,Franklin,0,33.0,2,30,0,3,7.0,2,2.0,3,-0.008126,0.7075,1.000000,3,6,3,0.1708,1,0,0,0
23,EID_23853,0,31.000000,4,1,Washington,5,6.0,4,39,1,3,8.0,3,1.0,3,-0.104800,0.7075,2.000000,3,5,3,0.2704,1,0,0,0
24,EID_16808,0,24.000000,5,0,Springfield,2,5.0,1,52,0,3,8.0,2,2.0,3,-0.961200,-0.4537,1.891061,3,8,5,0.1742,0,0,1,0
25,EID_3901,0,39.619595,2,1,Washington,7,15.0,1,58,1,3,3.0,2,1.0,3,-0.104800,-0.4537,1.000000,4,8,2,0.8727,0,0,0,1
26,EID_4861,0,47.000000,4,0,Washington,4,21.0,1,34,1,3,8.0,2,4.0,4,0.751600,0.7075,2.000000,3,5,2,0.2269,1,0,0,0
27,EID_12981,1,28.000000,3,0,Lebanon,2,4.0,1,58,0,4,8.0,2,1.0,3,0.751600,0.7075,2.000000,3,8,3,0.6272,0,0,1,0
28,EID_7596,0,45.000000,3,1,Lebanon,4,15.0,4,60,0,2,9.0,4,2.0,3,-0.961200,-0.4537,1.891061,1,7,5,0.0326,1,0,0,0
29,EID_14066,0,34.000000,3,1,Lebanon,3,6.0,1,29,0,4,7.0,2,3.0,3,-1.817600,-0.4537,2.000000,2,8,3,0.2730,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,EID_1294,1,58.000000,4,1,Lebanon,3,34.0,3,23,2,1,5.0,2,3.0,1,-0.961200,0.7075,2.000000,3,8,3,0.1194,0,0,0,1
6971,EID_21048,0,30.000000,4,0,Lebanon,1,6.0,2,66,2,5,9.0,2,3.0,2,-0.961200,-0.4537,2.000000,4,6,2,0.0133,0,1,0,0
6972,EID_10571,1,35.000000,3,0,Franklin,0,12.0,4,63,1,2,4.0,3,4.0,3,-0.104800,0.7075,2.000000,3,8,3,0.0176,0,0,0,1
6973,EID_15639,0,26.000000,3,0,Springfield,0,3.0,2,68,1,2,7.0,3,3.0,3,-0.104800,-1.6150,2.000000,3,7,3,0.0569,1,0,0,0
6974,EID_10143,1,40.000000,3,0,Springfield,6,18.0,3,69,1,1,6.0,3,3.0,3,-0.104800,-0.4537,2.000000,3,6,2,0.0313,1,0,0,0
6975,EID_2706,0,52.000000,3,1,Clinton,4,25.0,1,43,2,2,7.0,2,3.0,3,-0.008126,0.7075,1.891061,3,7,3,0.1496,0,0,1,0
6976,EID_15099,1,28.000000,4,1,Franklin,3,5.0,3,37,1,2,9.0,3,4.0,3,-0.008126,-0.4537,2.000000,2,7,3,0.2237,0,0,1,0
6977,EID_24726,0,31.000000,5,1,Springfield,3,4.0,4,70,2,5,7.0,3,2.0,2,0.751600,0.7075,2.000000,3,5,4,0.1458,0,0,0,1
6978,EID_25859,0,54.000000,4,1,Springfield,4,22.0,4,28,1,2,5.0,3,1.0,5,-0.961200,-0.4537,1.000000,4,8,4,0.1221,0,0,1,0
6979,EID_7509,1,42.000000,1,1,Springfield,4,15.0,4,58,1,2,6.0,3,3.0,3,-0.961200,0.7075,1.000000,4,7,3,0.4429,0,0,0,1
6980,EID_8706,1,59.000000,5,1,Springfield,3,33.0,1,20,1,3,4.0,2,4.0,4,-0.961200,-0.4537,2.000000,2,6,3,0.2853,1,0,0,0
6981,EID_25181,1,39.680716,3,1,Springfield,1,17.0,3,58,1,3,4.0,2,1.0,4,1.608100,-1.6150,1.891061,5,8,5,0.1954,0,1,0,0
6982,EID_12091,0,40.000000,3,0,Lebanon,2,15.0,4,74,2,1,7.0,2,3.0,3,0.751600,-0.4537,2.000000,3,8,3,0.2978,1,0,0,0
6983,EID_23816,0,30.000000,3,1,Franklin,3,6.0,4,64,1,3,8.0,3,4.0,3,-0.961200,-0.4537,2.000000,3,7,3,0.0402,0,1,0,0
6984,EID_22574,0,47.000000,3,1,Lebanon,4,24.0,3,57,0,5,8.0,2,2.0,4,0.751600,0.7075,2.000000,4,6,3,0.0765,0,0,1,0
6985,EID_4484,1,65.000000,3,0,Washington,6,30.0,2,35,0,3,10.0,2,1.0,5,0.751600,0.7075,2.000000,2,8,3,0.5049,0,0,1,0
6986,EID_17099,1,39.680716,4,0,Franklin,6,3.0,1,59,0,2,5.0,2,2.0,3,0.751600,0.7075,1.000000,3,5,4,0.1041,0,0,0,1
6987,EID_21257,0,45.000000,1,0,Lebanon,3,15.0,1,51,2,3,3.0,3,2.0,5,-0.961200,1.8688,2.000000,3,6,3,0.1218,1,0,0,0
6988,EID_11083,0,38.000000,3,1,Washington,1,14.0,3,23,0,1,4.0,2,3.0,3,0.751600,-1.6150,2.000000,4,8,3,0.0884,0,1,0,0
6989,EID_20243,0,28.000000,1,1,Lebanon,4,4.0,4,26,0,1,8.0,2,3.0,3,-0.961200,-2.7762,3.000000,3,5,3,0.2541,0,0,1,0
6990,EID_20545,1,22.000000,4,1,Lebanon,1,3.0,3,43,1,3,10.0,3,3.0,3,1.608100,0.7075,3.000000,2,8,2,0.2523,1,0,0,0
6991,EID_17275,1,26.000000,5,1,Franklin,5,2.0,2,51,1,3,5.0,2,2.0,2,0.751600,0.7075,2.000000,4,6,3,0.2265,0,0,1,0
6992,EID_19922,0,26.000000,1,1,Franklin,5,4.0,2,52,1,3,3.0,2,1.0,1,-0.104800,0.7075,2.000000,3,8,3,0.2238,1,0,0,0
6993,EID_12529,1,33.000000,4,1,Franklin,1,7.0,4,66,2,4,6.0,3,2.0,3,-0.104800,-0.4537,2.000000,4,7,3,0.2569,0,0,0,1
6994,EID_11159,1,33.000000,3,1,Springfield,5,9.0,3,34,0,1,8.0,2,4.0,4,-0.104800,1.8688,2.000000,4,7,2,0.0480,0,1,0,0
6995,EID_16328,0,23.000000,5,1,Franklin,3,4.0,1,20,1,2,6.0,3,3.0,1,0.751600,-0.4537,2.000000,3,7,3,0.7839,0,1,0,0
6996,EID_8387,0,44.000000,1,1,Lebanon,4,16.0,2,59,0,2,4.0,3,3.0,2,-0.104800,-2.7762,2.000000,4,8,4,0.1055,1,0,0,0
6997,EID_8077,0,49.000000,3,0,Springfield,0,10.0,1,59,1,2,3.0,2,4.0,2,-0.104800,-0.4537,2.000000,4,8,3,0.7847,0,0,0,1
6998,EID_19597,0,47.000000,3,1,Washington,2,24.0,1,21,1,5,8.0,0,2.0,4,0.751600,1.8688,2.000000,3,6,3,0.4162,0,1,0,0
6999,EID_1640,0,58.000000,3,1,Franklin,0,22.0,2,74,0,4,5.0,2,3.0,3,-0.104800,-1.6150,3.000000,4,5,3,0.0910,0,0,0,1

In [ ]:
df=df.drop(['Employee_ID','Hometown'],axis=1)

In [ ]:
df.columns=['Age','Gender','Education_Level','Relationship_Status','Unit','Time_of_service','Time_since_promotion','growth_rate','Travel_Rate',
           'Post_Level','Pay_Scale','Compensation_and_Benefits','Work_Life_balance','Decision_skill_possess_Analytical','Decision_skill_possess_Behavioral',
            'Decision_skill_possess_Conceptual','Decision_skill_possess_Directive','VAR1','VAR2','VAR3','VAR4','VAR5','VAR6','VAR7','Attrition_rate']

In [ ]:
df

,Age,Gender,Education_Level,Relationship_Status,Unit,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,0,42.000000,4,1,0,4.0,4,33,1,1,7.0,2,3.0,4,0.751600,1.8688,2.000000,4,5,3,0.1841,0,0,1,0
1,1,24.000000,3,0,1,5.0,4,36,0,3,6.0,2,4.0,3,-0.961200,-0.4537,2.000000,3,5,3,0.0670,1,0,0,0
2,0,58.000000,3,1,9,27.0,3,51,0,2,8.0,2,1.0,4,-0.961200,-0.4537,3.000000,3,8,3,0.0851,0,0,1,0
3,0,26.000000,3,0,6,4.0,3,56,1,3,8.0,2,1.0,3,-1.817600,-0.4537,1.891061,3,7,3,0.0668,0,1,0,0
4,0,31.000000,1,1,1,5.0,4,62,1,3,2.0,3,3.0,1,0.751600,-0.4537,2.000000,2,8,2,0.1827,0,0,1,0
5,1,54.000000,3,1,4,19.0,1,21,2,5,9.0,2,1.0,3,-1.817600,1.8688,2.000000,2,8,3,0.7613,0,0,1,0
6,0,21.000000,4,1,4,2.0,1,50,1,1,6.0,2,2.0,3,-0.961200,0.7075,2.000000,3,7,3,0.2819,0,0,0,1
7,0,39.619595,3,1,2,34.0,4,23,1,4,6.0,3,2.0,3,-0.104800,-0.4537,2.000000,3,9,3,0.1169,0,0,0,1
8,1,40.000000,4,0,8,13.0,1,49,0,1,9.0,0,4.0,1,-0.008126,1.8688,2.000000,5,6,3,0.1968,1,0,0,0
9,1,45.000000,3,1,0,21.0,4,34,0,2,5.0,3,4.0,3,0.751600,-0.4537,2.000000,4,8,3,0.2870,0,0,0,1
10,0,65.000000,5,0,4,31.0,3,49,1,1,6.0,3,3.0,3,0.751600,-0.4537,3.000000,4,6,3,0.2735,0,1,0,0
11,0,19.000000,5,0,3,0.0,0,25,1,2,5.0,4,1.0,3,-1.817600,-0.4537,2.000000,3,6,3,0.0800,1,0,0,0
12,1,63.000000,3,1,2,27.0,1,29,0,2,7.0,2,1.0,3,-0.104800,-0.4537,2.000000,5,6,3,0.2109,0,0,1,0
13,0,23.000000,4,0,1,4.0,2,70,1,3,8.0,2,3.0,4,-0.104800,-1.6150,2.000000,4,8,3,0.1696,0,0,1,0
14,0,19.000000,3,1,6,0.0,0,74,0,2,9.0,2,3.0,3,-0.961200,1.8688,2.000000,4,6,3,0.0318,0,0,0,1
15,0,39.619595,3,1,1,0.0,0,32,1,2,6.0,2,2.0,3,0.751600,-1.6150,1.000000,3,8,3,0.1331,1,0,0,0
16,1,65.000000,4,0,0,35.0,1,58,0,3,4.0,2,2.0,3,-0.104800,0.7075,1.000000,3,5,3,0.0671,0,1,0,0
17,0,40.000000,4,1,5,12.0,1,45,1,3,9.0,3,2.0,3,-0.961200,-0.4537,2.000000,5,8,4,0.1468,0,0,0,1
18,1,33.000000,3,0,5,9.0,1,39,1,2,5.0,3,1.0,3,-1.817600,0.7075,2.000000,3,8,3,0.0560,1,0,0,0
19,1,32.000000,3,0,0,7.0,4,44,0,4,5.0,2,1.0,3,-0.008126,0.7075,1.000000,1,5,4,0.6410,0,0,1,0
20,0,22.000000,4,1,9,3.0,1,53,0,4,6.0,2,3.0,3,-0.961200,-0.4537,2.000000,2,7,4,0.1095,0,1,0,0
21,0,25.000000,3,1,0,6.0,3,53,1,2,6.0,3,1.0,3,0.751600,0.7075,3.000000,3,8,4,0.0462,0,0,0,1
22,1,65.000000,1,1,0,33.0,2,30,0,3,7.0,2,2.0,3,-0.008126,0.7075,1.000000,3,6,3,0.1708,1,0,0,0
23,0,31.000000,4,1,5,6.0,4,39,1,3,8.0,3,1.0,3,-0.104800,0.7075,2.000000,3,5,3,0.2704,1,0,0,0
24,0,24.000000,5,0,2,5.0,1,52,0,3,8.0,2,2.0,3,-0.961200,-0.4537,1.891061,3,8,5,0.1742,0,0,1,0
25,0,39.619595,2,1,7,15.0,1,58,1,3,3.0,2,1.0,3,-0.104800,-0.4537,1.000000,4,8,2,0.8727,0,0,0,1
26,0,47.000000,4,0,4,21.0,1,34,1,3,8.0,2,4.0,4,0.751600,0.7075,2.000000,3,5,2,0.2269,1,0,0,0
27,1,28.000000,3,0,2,4.0,1,58,0,4,8.0,2,1.0,3,0.751600,0.7075,2.000000,3,8,3,0.6272,0,0,1,0
28,0,45.000000,3,1,4,15.0,4,60,0,2,9.0,4,2.0,3,-0.961200,-0.4537,1.891061,1,7,5,0.0326,1,0,0,0
29,0,34.000000,3,1,3,6.0,1,29,0,4,7.0,2,3.0,3,-1.817600,-0.4537,2.000000,2,8,3,0.2730,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,1,58.000000,4,1,3,34.0,3,23,2,1,5.0,2,3.0,1,-0.961200,0.7075,2.000000,3,8,3,0.1194,0,0,0,1
6971,0,30.000000,4,0,1,6.0,2,66,2,5,9.0,2,3.0,2,-0.961200,-0.4537,2.000000,4,6,2,0.0133,0,1,0,0
6972,1,35.000000,3,0,0,12.0,4,63,1,2,4.0,3,4.0,3,-0.104800,0.7075,2.000000,3,8,3,0.0176,0,0,0,1
6973,0,26.000000,3,0,0,3.0,2,68,1,2,7.0,3,3.0,3,-0.104800,-1.6150,2.000000,3,7,3,0.0569,1,0,0,0
6974,1,40.000000,3,0,6,18.0,3,69,1,1,6.0,3,3.0,3,-0.104800,-0.4537,2.000000,3,6,2,0.0313,1,0,0,0
6975,0,52.000000,3,1,4,25.0,1,43,2,2,7.0,2,3.0,3,-0.008126,0.7075,1.891061,3,7,3,0.1496,0,0,1,0
6976,1,28.000000,4,1,3,5.0,3,37,1,2,9.0,3,4.0,3,-0.008126,-0.4537,2.000000,2,7,3,0.2237,0,0,1,0
6977,0,31.000000,5,1,3,4.0,4,70,2,5,7.0,3,2.0,2,0.751600,0.7075,2.000000,3,5,4,0.1458,0,0,0,1
6978,0,54.000000,4,1,4,22.0,4,28,1,2,5.0,3,1.0,5,-0.961200,-0.4537,1.000000,4,8,4,0.1221,0,0,1,0
6979,1,42.000000,1,1,4,15.0,4,58,1,2,6.0,3,3.0,3,-0.961200,0.7075,1.000000,4,7,3,0.4429,0,0,0,1
6980,1,59.000000,5,1,3,33.0,1,20,1,3,4.0,2,4.0,4,-0.961200,-0.4537,2.000000,2,6,3,0.2853,1,0,0,0
6981,1,39.680716,3,1,1,17.0,3,58,1,3,4.0,2,1.0,4,1.608100,-1.6150,1.891061,5,8,5,0.1954,0,1,0,0
6982,0,40.000000,3,0,2,15.0,4,74,2,1,7.0,2,3.0,3,0.751600,-0.4537,2.000000,3,8,3,0.2978,1,0,0,0
6983,0,30.000000,3,1,3,6.0,4,64,1,3,8.0,3,4.0,3,-0.961200,-0.4537,2.000000,3,7,3,0.0402,0,1,0,0
6984,0,47.000000,3,1,4,24.0,3,57,0,5,8.0,2,2.0,4,0.751600,0.7075,2.000000,4,6,3,0.0765,0,0,1,0
6985,1,65.000000,3,0,6,30.0,2,35,0,3,10.0,2,1.0,5,0.751600,0.7075,2.000000,2,8,3,0.5049,0,0,1,0
6986,1,39.680716,4,0,6,3.0,1,59,0,2,5.0,2,2.0,3,0.751600,0.7075,1.000000,3,5,4,0.1041,0,0,0,1
6987,0,45.000000,1,0,3,15.0,1,51,2,3,3.0,3,2.0,5,-0.961200,1.8688,2.000000,3,6,3,0.1218,1,0,0,0
6988,0,38.000000,3,1,1,14.0,3,23,0,1,4.0,2,3.0,3,0.751600,-1.6150,2.000000,4,8,3,0.0884,0,1,0,0
6989,0,28.000000,1,1,4,4.0,4,26,0,1,8.0,2,3.0,3,-0.961200,-2.7762,3.000000,3,5,3,0.2541,0,0,1,0
6990,1,22.000000,4,1,1,3.0,3,43,1,3,10.0,3,3.0,3,1.608100,0.7075,3.000000,2,8,2,0.2523,1,0,0,0
6991,1,26.000000,5,1,5,2.0,2,51,1,3,5.0,2,2.0,2,0.751600,0.7075,2.000000,4,6,3,0.2265,0,0,1,0
6992,0,26.000000,1,1,5,4.0,2,52,1,3,3.0,2,1.0,1,-0.104800,0.7075,2.000000,3,8,3,0.2238,1,0,0,0
6993,1,33.000000,4,1,1,7.0,4,66,2,4,6.0,3,2.0,3,-0.104800,-0.4537,2.000000,4,7,3,0.2569,0,0,0,1
6994,1,33.000000,3,1,5,9.0,3,34,0,1,8.0,2,4.0,4,-0.104800,1.8688,2.000000,4,7,2,0.0480,0,1,0,0
6995,0,23.000000,5,1,3,4.0,1,20,1,2,6.0,3,3.0,1,0.751600,-0.4537,2.000000,3,7,3,0.7839,0,1,0,0
6996,0,44.000000,1,1,4,16.0,2,59,0,2,4.0,3,3.0,2,-0.104800,-2.7762,2.000000,4,8,4,0.1055,1,0,0,0
6997,0,49.000000,3,0,0,10.0,1,59,1,2,3.0,2,4.0,2,-0.104800,-0.4537,2.000000,4,8,3,0.7847,0,0,0,1
6998,0,47.000000,3,1,2,24.0,1,21,1,5,8.0,0,2.0,4,0.751600,1.8688,2.000000,3,6,3,0.4162,0,1,0,0
6999,0,58.000000,3,1,0,22.0,2,74,0,4,5.0,2,3.0,3,-0.104800,-1.6150,3.000000,4,5,3,0.0910,0,0,0,1

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(df.drop(['Attrition_rate'], axis =1),
#                                                     df['Attrition_rate'], 
#                                                     test_size=0.2)

In [ ]:
# print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
# from sklearn import linear_model
# from sklearn.linear_model import LogisticRegression

# logreg = LogisticRegression()
# #membuat model
# logreg.fit(X_train, y_train)

In [ ]:
test=pd.read_csv('Test.csv')

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
Employee_ID                  3000 non-null object
Gender                       3000 non-null object
Age                          2839 non-null float64
Education_Level              3000 non-null int64
Relationship_Status          3000 non-null object
Hometown                     3000 non-null object
Unit                         3000 non-null object
Decision_skill_possess       3000 non-null object
Time_of_service              2948 non-null float64
Time_since_promotion         3000 non-null int64
growth_rate                  3000 non-null int64
Travel_Rate                  3000 non-null int64
Post_Level                   3000 non-null int64
Pay_Scale                    2997 non-null float64
Compensation_and_Benefits    3000 non-null object
Work_Life_balance            2995 non-null float64
VAR1                         3000 non-null int64
VAR2                         2783 non-null float64
VAR3                         3000 non-null float64
VAR4                         2702 non-null float64
VAR5                         3000 non-null int64
VAR6                         3000 non-null int64
VAR7                         3000 non-null int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.1+ KB

In [ ]:
male=test.loc[test['Gender']=='M']
male.loc[male.Age.isna()]

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
42,EID_3148,M,NaN,1,Single,Springfield,Sales,Analytical,26.0,3,39,0,3,4.0,type3,2.0,3,1.6081,1.8688,2.0,4,5,4
50,EID_16789,M,NaN,2,Married,Franklin,Operarions,Analytical,2.0,2,74,0,2,8.0,type2,3.0,3,0.7516,-0.4537,NaN,2,8,3
152,EID_20125,M,NaN,3,Married,Clinton,IT,Behavioral,12.0,2,27,1,5,6.0,type2,3.0,3,0.7516,-0.4537,3.0,4,6,3
155,EID_2305,M,NaN,4,Married,Lebanon,Operarions,Directive,30.0,2,33,1,4,4.0,type2,1.0,3,-1.8176,-0.4537,1.0,4,7,4
302,EID_22832,M,NaN,4,Married,Springfield,Quality,Conceptual,30.0,1,30,2,3,7.0,type3,1.0,1,-0.9612,0.7075,NaN,4,8,4
333,EID_13110,M,NaN,1,Married,Franklin,Logistics,Behavioral,4.0,1,23,1,1,8.0,type2,3.0,2,-0.1048,-0.4537,2.0,3,8,3
369,EID_20903,M,NaN,4,Single,Springfield,Sales,Behavioral,3.0,1,27,1,4,7.0,type2,2.0,3,0.7516,1.8688,NaN,3,9,3
391,EID_23175,M,NaN,2,Married,Franklin,Sales,Behavioral,16.0,2,74,1,4,6.0,type3,2.0,3,0.7516,-0.4537,2.0,2,8,3
394,EID_25933,M,NaN,4,Married,Lebanon,Accounting and Finance,Conceptual,17.0,4,30,1,3,4.0,type3,1.0,4,1.6081,1.8688,2.0,2,5,3
436,EID_20225,M,NaN,4,Single,Lebanon,Purchasing,Conceptual,3.0,3,45,2,1,4.0,type2,4.0,2,-0.9612,0.7075,1.0,3,7,3
485,EID_20333,M,NaN,4,Single,Springfield,IT,Behavioral,5.0,2,26,1,1,4.0,type2,3.0,3,0.7516,1.8688,2.0,3,7,3
567,EID_14684,M,NaN,4,Single,Washington,R&D,Directive,6.0,2,68,1,2,3.0,type2,1.0,3,0.7516,0.7075,2.0,2,9,3
568,EID_7914,M,NaN,4,Married,Franklin,Logistics,Analytical,18.0,3,47,0,3,4.0,type3,4.0,3,0.7516,0.7075,2.0,3,5,3
638,EID_7609,M,NaN,4,Single,Springfield,Sales,Behavioral,2.0,2,63,0,3,9.0,type2,2.0,5,0.7516,0.7075,2.0,4,7,2
703,EID_15848,M,NaN,4,Married,Franklin,Sales,Behavioral,5.0,3,56,0,4,6.0,type2,3.0,3,1.6081,-1.6150,2.0,2,9,3
722,EID_5884,M,NaN,3,Single,Washington,IT,Conceptual,15.0,1,36,1,3,3.0,type3,4.0,3,0.7516,-1.6150,2.0,3,9,2
752,EID_18312,M,NaN,4,Single,Washington,Logistics,Analytical,4.0,1,53,1,3,7.0,type3,3.0,4,-0.1048,-0.4537,NaN,1,5,4
842,EID_6909,M,NaN,4,Married,Springfield,IT,Analytical,23.0,3,36,0,3,9.0,type2,2.0,4,-0.1048,0.7075,2.0,3,8,3
852,EID_8058,M,NaN,4,Married,Springfield,Operarions,Analytical,32.0,3,47,1,4,6.0,type2,2.0,2,1.6081,-0.4537,2.0,3,6,3
855,EID_21521,M,NaN,1,Single,Franklin,Logistics,Conceptual,NaN,4,33,0,1,4.0,type2,4.0,3,-1.8176,0.7075,1.0,3,5,3
929,EID_24670,M,NaN,5,Single,Lebanon,R&D,Analytical,5.0,4,57,1,3,7.0,type2,2.0,4,-0.1048,-0.4537,2.0,2,8,3
949,EID_9813,M,NaN,3,Married,Washington,Operarions,Conceptual,20.0,4,44,0,1,8.0,type3,2.0,3,0.7516,-0.4537,2.0,4,7,3
955,EID_1092,M,NaN,5,Married,Franklin,R&D,Conceptual,30.0,4,61,1,4,3.0,type2,2.0,1,-0.9612,-1.6150,3.0,2,6,4
982,EID_8478,M,NaN,5,Married,Clinton,Sales,Behavioral,32.0,1,35,2,1,6.0,type2,3.0,3,-1.8176,0.7075,2.0,2,6,4
998,EID_13717,M,NaN,3,Married,Springfield,IT,Directive,NaN,2,72,1,4,8.0,type3,2.0,1,0.7516,-1.6150,3.0,4,5,3
1032,EID_18759,M,NaN,1,Single,Franklin,Purchasing,Conceptual,1.0,1,50,0,5,4.0,type2,3.0,4,-1.8176,-1.6150,2.0,2,8,3
1064,EID_11406,M,NaN,3,Single,Franklin,Accounting and Finance,Behavioral,4.0,2,35,2,3,9.0,type2,3.0,3,0.7516,0.7075,NaN,3,8,3
1116,EID_19548,M,NaN,4,Married,Springfield,Sales,Conceptual,28.0,2,20,1,1,6.0,type2,1.0,2,1.6081,-0.4537,2.0,1,8,1
1142,EID_1477,M,NaN,4,Single,Lebanon,R&D,Conceptual,21.0,4,57,1,3,9.0,type4,4.0,3,-0.9612,-0.4537,2.0,3,6,4
1191,EID_14567,M,NaN,4,Single,Washington,Operarions,Behavioral,6.0,3,23,1,4,6.0,type2,3.0,3,-0.9612,-0.4537,2.0,3,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,EID_4741,M,NaN,3,Married,Lebanon,Logistics,Directive,27.0,1,69,2,3,4.0,type2,1.0,1,-0.1048,-0.4537,2.0,5,8,5
1848,EID_17805,M,NaN,3,Single,Lebanon,Sales,Analytical,6.0,4,21,1,2,8.0,type3,4.0,4,0.7516,-0.4537,2.0,2,7,5
1862,EID_1515,M,NaN,1,Married,Washington,R&D,Directive,38.0,4,68,1,4,8.0,type2,2.0,3,NaN,1.8688,1.0,2,7,5
1912,EID_20322,M,NaN,5,Married,Franklin,R&D,Analytical,7.0,3,48,2,2,2.0,type2,2.0,4,0.7516,1.8688,2.0,2,5,3
2067,EID_1215,M,NaN,4,Married,Springfield,Logistics,Behavioral,29.0,1,50,1,3,2.0,type4,3.0,3,-1.8176,-0.4537,2.0,3,7,3
2132,EID_15264,M,NaN,5,Single,Washington,Logistics,Analytical,5.0,4,60,1,3,6.0,type3,3.0,5,0.7516,0.7075,1.0,4,6,3
2155,EID_14495,M,NaN,4,Single,Lebanon,Purchasing,Directive,6.0,1,51,0,2,5.0,type2,4.0,3,-0.1048,-0.4537,2.0,3,8,3
2177,EID_7884,M,NaN,3,Married,Clinton,Logistics,Analytical,7.0,3,32,0,1,10.0,type3,3.0,3,-1.8176,0.7075,2.0,4,9,3
2210,EID_5479,M,NaN,3,Single,Lebanon,Logistics,Conceptual,22.0,2,49,2,3,9.0,type2,4.0,2,-0.1048,-0.4537,3.0,2,6,4
2218,EID_20911,M,NaN,4,Single,Washington,Human Resource Management,Behavioral,5.0,2,62,1,1,5.0,type3,1.0,3,-1.8176,1.8688,2.0,4,8,3
2246,EID_6890,M,NaN,3,Married,Lebanon,Logistics,Directive,28.0,3,56,0,2,5.0,type3,2.0,1,-0.1048,-0.4537,NaN,4,8,4
2251,EID_3045,M,NaN,2,Single,Franklin,Operarions,Conceptual,26.0,3,43,1,5,7.0,type2,3.0,3,-0.1048,0.7075,2.0,4,7,3
2259,EID_19658,M,NaN,3,Married,Washington,Purchasing,Directive,9.0,4,37,1,5,9.0,type1,3.0,3,0.7516,0.7075,2.0,2,8,3
2300,EID_10225,M,NaN,3,Married,Springfield,IT,Analytical,8.0,4,41,0,3,8.0,type2,1.0,3,0.7516,-2.7762,2.0,3,7,3
2334,EID_10159,M,NaN,2,Married,Lebanon,Operarions,Analytical,12.0,4,37,1,1,6.0,type3,4.0,3,-0.1048,-0.4537,1.0,2,9,3
2464,EID_22630,M,NaN,3,Single,Franklin,Sales,Conceptual,18.0,1,50,1,5,6.0,type2,1.0,4,-0.1048,0.7075,2.0,2,6,5
2550,EID_13892,M,NaN,4,Married,Washington,Operarions,Behavioral,4.0,2,32,1,3,8.0,type2,3.0,3,0.7516,-0.4537,2.0,3,8,4
2562,EID_19850,M,NaN,3,Married,Franklin,Logistics,Analytical,13.0,2,39,1,1,5.0,type3,4.0,1,-0.9612,-0.4537,1.0,3,8,4
2580,EID_20604,M,NaN,1,Married,Washington,IT,Analytical,8.0,2,52,1,1,5.0,type3,1.0,1,-1.8176,0.7075,2.0,4,7,3
2624,EID_22570,M,NaN,4,Married,Washington,Accounting and Finance,Behavioral,8.0,4,21,1,2,8.0,type3,2.0,4,-0.1048,-0.4537,2.0,5,7,3
2649,EID_2470,M,NaN,1,Married,Washington,Sales,Analytical,20.0,4,22,1,4,6.0,type2,3.0,5,-0.9612,0.7075,NaN,3,5,3
2675,EID_11288,M,NaN,3,Married,Springfield,IT,Conceptual,15.0,1,63,1,3,6.0,type2,1.0,1,-0.1048,-1.6150,2.0,3,6,4
2765,EID_10753,M,NaN,4,Married,Lebanon,Accounting and Finance,Directive,9.0,4,59,1,5,9.0,type3,3.0,3,-0.1048,-0.4537,NaN,1,7,3
2767,EID_1857,M,NaN,4,Married,Springfield,Human Resource Management,Analytical,32.0,4,31,1,3,4.0,type2,3.0,2,-0.9612,0.7075,2.0,3,7,3
2811,EID_13072,M,NaN,5,Single,Lebanon,IT,Directive,12.0,2,67,2,1,4.0,type4,2.0,5,-0.9612,0.7075,1.0,2,5,3
2817,EID_1719,M,NaN,3,Single,Lebanon,IT,Analytical,19.0,1,73,0,5,6.0,type2,4.0,2,0.7516,-0.4537,2.0,4,7,3
2905,EID_21635,M,NaN,2,Single,Franklin,IT,Behavioral,14.0,4,57,1,1,8.0,type2,4.0,3,-0.1048,1.8688,1.0,3,7,4
2932,EID_23044,M,NaN,4,Married,Washington,Quality,Conceptual,13.0,4,47,2,3,7.0,type3,1.0,3,-0.9612,0.7075,NaN,3,8,1
2947,EID_24145,M,NaN,3,Single,Springfield,Purchasing,Directive,10.0,3,40,1,1,5.0,type3,1.0,4,0.7516,-1.6150,2.0,2,6,3
2982,EID_14759,M,NaN,3,Married,Lebanon,Operarions,Directive,6.0,2,73,1,3,6.0,type2,3.0,4,-0.1048,-0.4537,1.0,3,8,5

In [ ]:
def Umur(x):
    if x=="Married":
        return male.loc[male['Relationship_Status']=='Married']['Age'].mean()
    elif x=="Single":
        return male.loc[male['Relationship_Status']=='Married']['Age'].mean()

male['Age']=male['Age'].fillna(male['Relationship_Status'].apply(Umur))

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
test.loc[test['Gender']=='M']=male

In [ ]:
female=test.loc[test['Gender']=='F']

In [ ]:
def Umur(x):
    if x=="Married":
        return female.loc[female['Relationship_Status']=='Married']['Age'].mean()
    elif x=="Single":
        return female.loc[female['Relationship_Status']=='Married']['Age'].mean()

female['Age']=female['Age'].fillna(female['Relationship_Status'].apply(Umur))

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
test.loc[test['Gender']=='F']=female

In [ ]:
test['Pay_Scale']=test['Pay_Scale'].fillna(random.randint(1,10))

In [ ]:
pd.crosstab(test['Age'], test['Time_of_service'])

Time_of_service,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,39.0,40.0,41.0,42.0,43.0
Age,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19.000000,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20.000000,0,52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21.000000,0,0,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22.000000,0,0,0,111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23.000000,0,0,0,0,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24.000000,0,0,0,0,0,77,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25.000000,0,0,0,0,0,0,83,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26.000000,0,0,31,38,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27.000000,0,0,0,25,43,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28.000000,0,0,0,0,33,26,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29.000000,0,0,0,0,0,9,13,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30.000000,0,0,0,0,0,0,33,32,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31.000000,0,0,11,8,8,7,9,12,2,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32.000000,0,0,0,12,14,9,6,10,11,7,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33.000000,0,0,0,0,7,8,2,5,3,1,9,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34.000000,0,0,0,0,0,7,1,5,5,3,4,5,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35.000000,0,0,0,0,0,0,10,11,10,10,10,6,13,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36.000000,0,0,0,0,0,0,0,3,7,6,1,4,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37.000000,0,0,0,0,0,0,0,0,9,6,16,17,10,19,11,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38.000000,0,0,0,0,0,0,0,0,0,6,10,3,6,5,2,6,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39.000000,0,0,0,0,0,0,0,0,0,0,5,6,7,3,5,4,3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39.505618,0,1,2,2,5,6,6,2,4,2,1,1,3,2,1,3,1,1,2,1,2,1,1,1,1,0,3,1,3,1,3,0,5,0,0,0,1,0,1,0,0,0,0,0
39.813820,0,1,2,9,7,6,10,4,4,1,7,3,3,2,0,2,3,1,2,2,4,2,0,1,2,3,0,2,1,0,1,0,2,1,0,0,0,0,0,1,0,0,0,0
40.000000,0,0,0,0,0,0,0,0,0,0,0,5,7,3,3,3,7,8,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41.000000,0,0,2,3,4,0,2,7,2,4,2,2,3,1,1,1,4,4,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42.000000,0,0,0,8,3,3,5,3,9,5,6,1,5,2,5,5,4,5,4,6,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43.000000,0,0,0,0,5,2,3,1,4,1,3,2,1,4,3,1,1,3,2,0,4,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44.000000,0,0,0,0,0,2,0,1,4,3,2,2,3,1,3,2,3,1,2,5,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45.000000,0,0,0,0,0,0,6,5,1,5,5,6,8,7,6,3,4,7,3,6,2,7,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46.000000,0,0,0,0,0,0,0,2,1,1,5,1,1,0,1,2,3,2,4,1,1,3,1,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47.000000,0,0,0,0,0,0,0,0,4,4,4,2,3,3,4,9,4,1,3,5,6,8,4,3,5,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48.000000,0,0,0,0,0,0,0,0,0,2,5,2,2,2,0,1,6,1,4,3,2,0,3,5,1,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49.000000,0,0,0,0,0,0,0,0,0,0,3,3,5,1,1,2,2,3,1,2,4,3,1,3,1,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50.000000,0,0,0,0,0,0,0,0,0,0,0,4,4,2,4,4,5,2,2,5,2,2,2,1,0,2,5,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51.000000,0,0,0,0,0,0,0,0,0,0,0,0,1,1,4,1,4,1,4,1,2,1,1,4,0,4,3,3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,3,8,4,5,2,5,5,10,9,5,6,3,2,9,6,3,7,8,0,0,0,0,0,0,0,0,0,0,0,0,0
53.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,4,2,3,2,1,2,3,2,5,3,2,1,1,0,4,2,1,0,0,0,0,0,0,0,0,0,0,0,0
54.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,7,3,10,4,8,5,5,7,4,4,4,4,6,5,6,2,4,0,0,0,0,0,0,0,0,0,0,0
55.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,1,5,3,1,1,0,2,3,2,2,2,2,4,3,1,3,1,0,0,0,0,0,0,0,0,0,0
56.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,4,1,4,0,3,3,3,0,2,2,1,2,1,3,3,6,0,0,0,0,0,0,0,0,0
57.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,2,2,1,1,4,3,2,3,4,2,3,3,3,0,1,3,0,0,0,0,0,0,0,0
58.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,5,4,1,0,2,4,1,2,1,4,4,4,3,7,1,1,0,0,0,0,0,0,0
59.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,2,1,2,4,4,2,3,2,1,2,2,1,7,6,4,6,2,0,0,0,0,0,0
60.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,8,8,1,6,2,4,2,6,5,4,4,7,2,3,10,3,4,0,0,0,0,0
61.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,1,2,4,0,1,0,3,1,1,1,2,2,4,2,0,1,0,0,0,0
62.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,2,1,3,0,3,2,5,3,3,0,2,1,1,0,2,0,0,0
63.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,3,1,1,1,1,1,0,1,5,3,0,2,1,4,2,1,0,0
64.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,4,2,1,4,3,0,3,0,2,1,1,0,0,2,1,0
65.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,4,2,4,2,6,3,4,3,3,2,8,2,1,4,3,3,1

In [ ]:
test['Time_of_service']=test['Time_of_service'].fillna(test['Age'].apply(isi))

In [ ]:
test['Work_Life_balance']=test['Work_Life_balance'].fillna(test['Work_Life_balance'].mean())

In [ ]:
test['VAR4']=test['VAR4'].fillna(test['VAR4'].mean())
test['VAR2']=test['VAR2'].fillna(test['VAR2'].mean())

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
Employee_ID                  3000 non-null object
Gender                       3000 non-null object
Age                          3000 non-null float64
Education_Level              3000 non-null int64
Relationship_Status          3000 non-null object
Hometown                     3000 non-null object
Unit                         3000 non-null object
Decision_skill_possess       3000 non-null object
Time_of_service              3000 non-null float64
Time_since_promotion         3000 non-null int64
growth_rate                  3000 non-null int64
Travel_Rate                  3000 non-null int64
Post_Level                   3000 non-null int64
Pay_Scale                    3000 non-null float64
Compensation_and_Benefits    3000 non-null object
Work_Life_balance            3000 non-null float64
VAR1                         3000 non-null int64
VAR2                         3000 non-null float64
VAR3                         3000 non-null float64
VAR4                         3000 non-null float64
VAR5                         3000 non-null int64
VAR6                         3000 non-null int64
VAR7                         3000 non-null int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.1+ KB

In [ ]:
test['Gender']=test['Gender'].apply(gender)
test['Relationship_Status']=test['Relationship_Status'].apply(status)
test['Unit']=test['Unit'].apply(unit)
test['Compensation_and_Benefits']=test['Compensation_and_Benefits'].apply(tipe)

In [ ]:
test = pd.get_dummies(test, columns = ['Decision_skill_possess'])

In [ ]:
test=test.drop(['Employee_ID','Hometown'],axis=1)

In [ ]:
test.columns=['Age','Gender','Education_Level','Relationship_Status','Unit','Time_of_service','Time_since_promotion','growth_rate','Travel_Rate',
           'Post_Level','Pay_Scale','Compensation_and_Benefits','Work_Life_balance','Decision_skill_possess_Analytical','Decision_skill_possess_Behavioral',
            'Decision_skill_possess_Conceptual','Decision_skill_possess_Directive','VAR1','VAR2','VAR3','VAR4','VAR5','VAR6','VAR7']

In [ ]:
test

,Age,Gender,Education_Level,Relationship_Status,Unit,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,Decision_skill_possess_Analytical,Decision_skill_possess_Behavioral,Decision_skill_possess_Conceptual,Decision_skill_possess_Directive,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,0,32.000000,5,0,4,7.0,4,30,1,5,4.0,2,1.0,3,-0.96120,-0.4537,2.000000,1,8,4,0,0,1,0
1,1,65.000000,2,0,0,41.0,2,72,1,1,1.0,2,1.0,4,-0.96120,0.7075,1.000000,2,8,2,0,0,0,1
2,1,52.000000,3,1,2,21.0,3,25,0,1,8.0,3,1.0,4,-0.10480,0.7075,2.000000,1,9,3,0,0,0,1
3,1,50.000000,5,0,7,11.0,4,28,1,1,2.0,0,4.0,3,-0.10480,0.7075,2.000000,2,8,3,1,0,0,0
4,0,44.000000,3,1,4,12.0,4,47,1,3,2.0,2,4.0,4,1.60810,0.7075,2.000000,2,7,4,0,0,1,0
5,0,22.000000,4,1,0,3.0,1,53,0,3,6.0,2,1.0,3,0.02753,-0.4537,2.000000,3,8,3,0,1,0,0
6,1,42.000000,3,1,4,6.0,4,35,1,3,4.0,2,1.0,3,0.75160,1.8688,2.000000,3,7,3,1,0,0,0
7,0,41.000000,2,1,2,4.0,4,35,1,4,8.0,2,1.0,3,-0.10480,1.8688,2.000000,2,7,5,0,0,1,0
8,1,31.000000,1,0,0,7.0,3,73,2,3,8.0,2,3.0,3,1.60810,0.7075,2.000000,2,7,4,1,0,0,0
9,1,48.000000,2,0,4,16.0,1,32,1,2,4.0,0,3.0,3,-0.10480,-0.4537,2.000000,4,7,4,0,0,1,0
10,0,31.000000,4,0,3,4.0,2,22,0,3,6.0,3,3.0,3,1.60810,0.7075,1.000000,3,8,5,0,1,0,0
11,1,29.000000,4,0,0,7.0,2,29,2,4,9.0,2,4.0,4,0.75160,-0.4537,1.000000,3,5,4,0,0,0,1
12,0,28.000000,4,0,6,6.0,4,57,1,4,10.0,2,3.0,3,0.75160,-0.4537,2.000000,2,5,2,0,0,0,1
13,0,65.000000,3,1,1,27.0,4,42,1,1,6.0,3,1.0,3,-1.81760,-0.4537,1.000000,2,8,3,0,0,1,0
14,1,54.000000,3,0,0,18.0,4,30,0,3,7.0,2,5.0,2,0.75160,-0.4537,2.000000,2,7,4,1,0,0,0
15,0,64.000000,5,0,4,42.0,3,27,1,3,8.0,3,1.0,3,0.02753,-0.4537,3.000000,3,9,5,1,0,0,0
16,1,42.000000,4,1,2,16.0,4,39,1,4,3.0,2,4.0,1,-1.81760,-0.4537,1.907476,4,8,2,0,1,0,0
17,0,39.813820,2,1,4,3.0,3,25,1,2,4.0,2,4.0,4,-1.81760,0.7075,2.000000,4,7,4,0,1,0,0
18,1,38.000000,3,1,1,12.0,1,65,1,1,8.0,3,1.0,3,-1.81760,-0.4537,1.907476,2,7,3,0,0,0,1
19,0,32.000000,1,1,6,4.0,1,56,1,3,5.0,2,1.0,3,0.75160,-1.6150,1.907476,3,8,2,0,1,0,0
20,1,61.000000,4,0,6,26.0,1,49,2,3,7.0,2,5.0,3,-0.10480,-0.4537,2.000000,4,8,4,0,1,0,0
21,0,60.000000,4,1,0,32.0,4,52,0,4,4.0,4,3.0,2,-0.10480,-0.4537,2.000000,2,7,3,0,0,1,0
22,1,60.000000,1,0,3,36.0,3,35,1,2,4.0,3,1.0,5,0.75160,-0.4537,1.000000,3,8,4,0,0,0,1
23,0,42.000000,3,0,3,12.0,2,55,0,3,8.0,2,2.0,3,0.75160,-0.4537,3.000000,3,6,2,0,0,0,1
24,0,32.000000,4,1,3,8.0,2,71,1,5,8.0,2,2.0,1,-1.81760,-0.4537,2.000000,4,8,3,0,0,1,0
25,1,47.000000,4,0,5,15.0,2,55,1,2,8.0,2,5.0,2,0.75160,0.7075,1.000000,2,6,2,1,0,0,0
26,1,37.000000,3,1,10,10.0,4,47,0,2,4.0,3,4.0,3,0.75160,0.7075,1.000000,3,8,1,0,0,1,0
27,1,27.000000,3,0,0,4.0,1,27,0,2,9.0,3,1.0,3,-0.96120,0.7075,2.000000,3,7,4,0,0,0,1
28,1,45.000000,3,1,4,15.0,4,72,2,3,5.0,2,2.0,4,-0.10480,1.8688,2.000000,4,6,5,0,0,0,1
29,0,29.000000,4,0,4,6.0,3,37,1,3,7.0,3,2.0,3,0.02753,-0.4537,2.000000,3,5,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,1,56.000000,5,1,4,19.0,1,44,2,4,7.0,2,1.0,3,0.02753,-1.6150,1.907476,2,7,3,0,0,1,0
2971,0,59.000000,5,1,1,33.0,4,58,0,2,4.0,3,4.0,4,-0.10480,-0.4537,1.907476,2,8,3,0,0,1,0
2972,0,25.000000,3,1,4,6.0,4,59,1,3,8.0,2,1.0,3,0.75160,0.7075,1.000000,4,8,3,0,0,1,0
2973,0,19.000000,2,1,5,0.0,0,54,0,5,4.0,2,4.0,3,0.75160,-0.4537,2.000000,4,5,4,0,0,1,0
2974,1,37.000000,3,0,1,14.0,1,41,1,4,2.0,2,1.0,3,0.75160,-0.4537,3.000000,4,8,4,0,0,1,0
2975,1,23.000000,3,1,9,4.0,1,63,2,3,10.0,3,1.0,4,-1.81760,-0.4537,1.907476,1,8,3,0,0,1,0
2976,1,33.000000,5,0,3,4.0,3,21,0,3,9.0,3,5.0,3,-0.96120,-0.4537,1.000000,2,7,5,0,1,0,0
2977,0,60.000000,3,0,4,38.0,4,53,0,2,4.0,3,3.0,3,-0.10480,0.7075,2.000000,4,8,3,0,0,0,1
2978,1,32.000000,4,1,10,10.0,2,66,2,3,3.0,3,2.0,3,0.75160,0.7075,2.000000,3,9,4,0,1,0,0
2979,0,32.000000,3,0,1,8.0,4,74,1,3,5.0,2,3.0,1,-0.10480,-0.4537,3.000000,3,9,4,1,0,0,0
2980,0,30.000000,3,1,0,8.0,3,66,1,1,6.0,2,4.0,4,0.75160,-0.4537,3.000000,3,6,3,1,0,0,0
2981,0,35.000000,5,1,2,10.0,1,39,0,5,9.0,2,2.0,3,0.02753,0.7075,1.000000,3,5,5,0,0,1,0
2982,1,39.505618,3,1,3,6.0,2,73,1,3,6.0,2,3.0,4,-0.10480,-0.4537,1.000000,3,8,5,0,0,0,1
2983,1,31.000000,4,1,4,5.0,4,67,0,2,6.0,3,1.0,2,-0.10480,-1.6150,2.000000,2,8,3,1,0,0,0
2984,0,21.000000,4,1,2,2.0,1,38,0,1,6.0,2,1.0,3,0.75160,-0.4537,1.000000,3,8,3,0,1,0,0
2985,1,48.000000,3,1,7,17.0,2,21,1,3,8.0,3,3.0,5,1.60810,-0.4537,1.000000,2,7,3,1,0,0,0
2986,0,22.000000,4,1,2,3.0,1,56,1,3,8.0,2,4.0,3,0.75160,0.7075,2.000000,3,8,3,0,0,1,0
2987,1,38.000000,5,1,7,10.0,2,73,1,3,6.0,2,1.0,4,-0.96120,-0.4537,3.000000,3,8,1,0,0,1,0
2988,1,52.000000,3,0,9,20.0,3,69,1,2,5.0,3,1.0,3,-1.81760,-0.4537,1.000000,2,8,2,0,1,0,0
2989,1,35.000000,2,1,1,10.0,2,41,2,3,6.0,2,3.0,3,1.60810,0.7075,2.000000,3,6,4,0,0,0,1
2990,0,54.000000,4,1,2,32.0,1,31,1,4,5.0,2,1.0,3,0.02753,-0.4537,2.000000,3,6,3,0,0,0,1
2991,0,65.000000,3,1,3,38.0,2,60,1,5,5.0,2,4.0,3,-1.81760,-0.4537,2.000000,2,6,3,0,0,0,1
2992,1,47.000000,3,1,3,15.0,2,49,0,5,9.0,2,3.0,3,-0.96120,0.7075,2.000000,2,6,4,0,1,0,0
2993,0,35.000000,4,0,7,12.0,3,59,0,2,6.0,2,3.0,3,0.75160,0.7075,2.000000,4,7,3,0,0,1,0
2994,0,62.000000,3,1,2,23.0,2,37,2,2,7.0,2,3.0,4,-0.10480,-0.4537,1.907476,4,6,3,0,0,1,0
2995,0,32.000000,3,0,2,3.0,3,38,1,3,6.0,2,2.0,1,-0.10480,0.7075,1.000000,4,7,4,0,0,0,1
2996,0,39.813820,2,0,7,10.0,2,57,1,4,9.0,2,1.0,3,0.75160,0.7075,3.000000,4,8,3,0,0,1,0
2997,0,60.000000,4,0,1,35.0,1,69,0,2,9.0,3,3.0,3,-1.81760,-0.4537,1.907476,4,8,4,1,0,0,0
2998,0,51.000000,1,1,0,23.0,1,30,0,2,6.0,3,1.0,5,0.75160,-0.4537,2.000000,3,9,2,0,1,0,0
2999,0,45.000000,1,0,2,12.0,4,70,1,2,8.0,4,4.0,3,0.75160,-0.4537,2.000000,2,8,5,0,0,0,1

In [ ]:
from sklearn import svm

reg=svm.SVR()

X = df.drop(['Attrition_rate'],axis=1)
y = df['Attrition_rate']

# accuracy = cross_val_score(logreg, X, y, scoring='accuracy', cv = 10)
# print(accuracy)
# #get the mean of each fold 
# print("Rata-rata akurasi:",accuracy.mean() * 100)

In [ ]:
reg.fit(X,y)

C:\Users\Asus\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [ ]:
y_submit = reg.predict(test)

In [ ]:
y_submit

array([0.30241105, 0.32376873, 0.40627463, ..., 0.43018441, 0.50062245,
       0.33580898])

In [ ]:
submit=pd.read_csv('Test.csv')

In [ ]:
s=submit['Employee_ID']
coba=pd.DataFrame(s)

In [ ]:
coba

     Employee_ID
0      EID_22713
1       EID_9658
2      EID_22203
3       EID_7652
4       EID_6516
5      EID_20283
6      EID_21014
7       EID_7693
8      EID_13232
9       EID_6515
10     EID_13639
11     EID_14669
12     EID_16537
13      EID_5782
14     EID_20157
15      EID_1855
16     EID_20748
17     EID_23179
18     EID_12838
19     EID_21656
20      EID_8844
21      EID_1536
22      EID_8822
23     EID_11398
24     EID_12965
25      EID_5204
26     EID_10030
27     EID_13227
28     EID_20607
29     EID_14070
...          ...
2970    EID_1668
2971    EID_8120
2972   EID_22777
2973   EID_19141
2974   EID_22674
2975   EID_16121
2976   EID_14662
2977   EID_23290
2978   EID_20144
2979   EID_23052
2980   EID_25575
2981   EID_23724
2982   EID_14759
2983   EID_25209
2984   EID_17753
2985    EID_4693
2986   EID_17284
2987    EID_9131
2988   EID_24625
2989   EID_24912
2990   EID_19612
2991    EID_9147
2992    EID_6891
2993   EID_10639
2994    EID_5880
2995   EID_22547
2996   EID_10066
2997    EID_7126
2998    EID_4929
2999   EID_24750

[3000 rows x 1 columns]

In [ ]:
coba['Attrition_rate']=abs(y_submit)
coba

     Employee_ID  Attrition_rate
0      EID_22713        0.302411
1       EID_9658        0.323769
2      EID_22203        0.406275
3       EID_7652        0.249224
4       EID_6516        0.264922
5      EID_20283        0.092787
6      EID_21014        0.487739
7       EID_7693        0.215618
8      EID_13232        0.769592
9       EID_6515        0.280171
10     EID_13639        0.012396
11     EID_14669        0.414183
12     EID_16537        0.344323
13      EID_5782        0.434409
14     EID_20157        0.097256
15      EID_1855        0.177409
16     EID_20748        0.209483
17     EID_23179        0.478238
18     EID_12838        0.184743
19     EID_21656        0.127036
20      EID_8844        0.273701
21      EID_1536        0.363959
22      EID_8822        0.342727
23     EID_11398        0.368574
24     EID_12965        0.235382
25      EID_5204        0.178933
26     EID_10030        0.411283
27     EID_13227        0.264541
28     EID_20607        0.266995
29     EID_14070        0.652089
...          ...             ...
2970    EID_1668        0.302264
2971    EID_8120        0.371487
2972   EID_22777        0.452596
2973   EID_19141        0.121549
2974   EID_22674        0.309277
2975   EID_16121        0.219862
2976   EID_14662        0.166985
2977   EID_23290        0.217060
2978   EID_20144        0.170175
2979   EID_23052        0.470360
2980   EID_25575        0.568121
2981   EID_23724        0.120688
2982   EID_14759        0.220287
2983   EID_25209        0.517443
2984   EID_17753        0.040455
2985    EID_4693        0.536582
2986   EID_17284        0.124265
2987    EID_9131        0.276677
2988   EID_24625        0.136528
2989   EID_24912        0.070953
2990   EID_19612        0.381754
2991    EID_9147        0.222656
2992    EID_6891        0.395354
2993   EID_10639        0.442510
2994    EID_5880        0.443162
2995   EID_22547        0.375733
2996   EID_10066        0.262196
2997    EID_7126        0.430184
2998    EID_4929        0.500622
2999   EID_24750        0.335809

[3000 rows x 2 columns]

In [ ]:
coba.to_csv('submission.csv',index=False)